[2016-01-12 16:53] NogsMPLS opened #1 "Composing from another file results in undefined"
given some css like this:
[code]
.babelrc like this:
[code]
the plugin outputs this:
[code]

[2016-01-12 17:06] NogsMPLS commented on #1
this is confusing for me, because the repo's test works. with style composing from parent...

I wonder if it has something to do with the babelrc config...i'll keep looking into it, if it ends up being with this repo I'll try and fix and submit a PR.

[2016-01-12 17:22] NogsMPLS commented on #1
Ah, it's because those classes were being imported into the css file via @import, which is outside the scope of this project I believe. I'll close this now.

[2016-01-12 17:22] #1 closed

[2016-01-12 21:42] NogsMPLS commented on #1
Thought I'd post this here, as I got it working for me and it might be beneficial for future users that want to have a little more customization re: postcss plugins.

It's pretty simple really. just fork the repo and add the plugins you need to the src/index.js file, and add the ```prepend``` option to the css-modules-require-hook.
[code]
then just build, and take the outputted file and use that i

[2016-01-13 09:14] michalkvasnicak commented on #1
I think, we can handle that with configuration of this plugin too. We just need to check if options contains `prepend` prop and require all module names added to it.

Something like this:

[code]

There is only one question @NogsMPLS: are `cssnext` and `postcssImport` from your example always a functions? If yes, we can call them in this plugin and result pass to `prepend`.

[2016-01-13 15:38] NogsMPLS commented on #1
well, i just followed these instructions:

https://github.com/css-modules/css-modules-require-hook#adding-custom-postcss-plugins

However, if we really wanted to extend the usage of this plugin, then you would also want to have pre-processing support as described here: https://github.com/css-modules/css-modules-require-hook#using-stylus-as-a-preprocessor and here https://github.com/css-modules/css

[2016-01-13 15:44] michalkvasnicak commented on #1
It isn't a problem because we can specify js files to load in options. So one will do something like this:

**.babelrc**

[code]

**preprocess.js**

[code]

[2016-01-13 15:47] michalkvasnicak opened #2 "Css modules hook options requiring javascript"
see comments #1

[2016-01-30 11:07] #2 closed

[2016-01-30 11:10] michalkvasnicak commented on #1
@NogsMPLS now you can specify functions in cofiguration, see README

[2016-02-03 22:36] NogsMPLS commented on #1
This is awesome by the way, thanks for your hard work!

[2016-03-10 14:43] themouette opened #5 "extract generated css in file(s)"
I'm wondering if there is a way to collect generated css in the process and generate it in a single file or in separate files.

I'm using [babel-plugin-webpack-loaders](https://github.com/istarkov/babel-plugin-webpack-loaders) for this, but having to setup webpack is a real pain.

[2016-03-10 17:25] michalkvasnicak commented on #5
Sorry there is no way to extract generated css to files at the moment. I can't imagine how should something like that work.

Maybe save css files when babel finishes parsing.

Do you have any ideas how to do that and how config should look?

[2016-03-10 21:02] themouette commented on #5
I do not have deep understanding on how  css-modules-require-hook or postcss works.

Since you asked I looked into both and came up with the genuine idea it is possible to leverage [processorOpts](https://github.com/css-modules/css-modules-require-hook/blob/master/lib/index.js#L99) from css-modules-require-hook and [lazyResult.then](https://github.com/postcss/postcss#js-api) from postcss.

It migh

[2016-03-11 07:35] michalkvasnicak commented on #5
Thank you :) I'll dive into it in the couple of a days or you can if you have time. We need to find hook which babel calls when parsing is finished and our extraction should be there I think.

[2016-03-23 07:00] DekusDenial commented on #5
I am using [babel-plugin-react-intl](https://github.com/yahoo/babel-plugin-react-intl) for one of my projects and like many other babel plugins it extract information during runtime and export them at dedicated location defined in plugin option

see
https://github.com/yahoo/babel-plugin-react-intl/blob/master/src/index.js#L149-L174

[2016-03-23 08:27] michalkvasnicak commented on #5
@DekusDenial thank you! I'll take a closer look, but currently I don't have much time. Maybe in next few days I hope.

[2016-03-29 10:23] michalkvasnicak commented on #5
Hi. So, I made some changes yesterday in pull request #6. But then I encountered few problems:

- in first build using this babel plugin, we'll create css file / files - OK, but `Program.enter` and `Program.exit` visitors are called for every javascript file processed by babel, so we can easily create css file for each javascript file, but if we want only single file, we need to append contents to

[2016-03-29 10:24] michalkvasnicak commented on #5
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/extract-css-to-file/src/index.js#L157 there we can easily save styles for each javascript file.

[2016-03-31 17:31] Hadrien-DELAITRE opened #7 "complexRequires and currentConfig problems with "prepend""
Hello!

It seems to be buggy when i define "prepend" configuration like :
[code]

https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L30

Maybe you have to clone `currentConfig` otherwise you will overwrite all values during the rest of the process.

When we log the value of `currentConfig`, we can see the following output for the first file:
[code]
Then

[2016-04-01 20:46] michalkvasnicak commented on #7
Hello, I'm sorry for the delay. I'll take a look in the next few days, really busy these days.

[2016-04-03 13:19] #7 closed

[2016-04-03 13:38] michalkvasnicak commented on #7
Thank you! Added little performance optimization too.

[2016-04-04 07:51] Hadrien-DELAITRE commented on #7
Wow cool :+1: I will try this today !
Thanks :)

[2016-04-04 15:01] Hadrien-DELAITRE opened #8 "complexRequires (prepend) and specifics options"
Hi again!

Today, i tested new released tag 0.0.8, with my prepend config:

[code]
It Works :+1:

But, currently i can't pass specific opts for `postcss-cssnext` :
[code]

I don't know if your plugin is designed in order to do specifics configuration.
And i got some troubles with 'postcss-import' module because it seems to be async :
https://github.com/css-modules/css-modules-require-hook/issues/5

[2016-04-04 19:12] michalkvasnicak commented on #8
Can you please provide whole `.babelrc` configuration file?

Ad 2) I am afraid that I can't resolve your problem with `postcss-import` because this plugin uses `css-modules-require-hook` under the hood, so if it is incompatible with it I can't do anything.

[2016-04-05 07:35] Hadrien-DELAITRE commented on #8
My .babelrc:

[code]

[2016-04-05 07:37] michalkvasnicak commented on #8
Thank you. One more question, you mentioned that you want to pass specific options to `postcss-cssnext`. Can you please provide an example of configuration file? How it should look?

[2016-04-05 07:43] Hadrien-DELAITRE commented on #8
With `postcss-cssnext`, i can provide `custom-properties` & `custom-media` like :

[code]
And i use this file with webpack (in order to build my front bundle):
[code]

[2016-04-05 07:48] michalkvasnicak commented on #8
You can do it already. Only thing you need to do is to create javascript file, where you import `postcss-cssnext` plugin and export function that will configure this plugin.

You can try this:

[code]

and then set `prepend` to something like `"prepend": ["./postcss.js"]`

I am writing this on the fly, so it's not tested.

[2016-04-05 08:03] Hadrien-DELAITRE commented on #8
Hmmm, when `css-modules-transform` try to resolve the prepend path here:
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L107
It fails with `plugin = './postcss.js'`.

Then it try a second time here:
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L110
But it fails again.

I think its because of `path` va

[2016-04-05 13:53] michalkvasnicak commented on #8
Is this path to a plugin relative to the `process.cwd()` ? Does result of [`resolve`](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L110) exist on your filesystem?

[2016-04-06 14:29] Hadrien-DELAITRE commented on #8
`process.cwd()` refers to my working directory:
`/foo/bar/www`

my JS file `postcss.js` is located here: `/foo/bar/www/postcss.js`.

and i run my gulp task at `/foo/bar/www`.

But value of `path` is weird, it's not a `string`, it's a `Object[NodePath]`.

[2016-04-06 14:30] michalkvasnicak commented on #8
Try to change it to `plugin` on line `110`. I think you found a bug :)

[2016-04-06 14:38] Hadrien-DELAITRE commented on #8
It works :+1: with the update at `L110`.

It's nice!
It remains for me to investigate the `css-module-require-hook` about async plugin error ;).

[2016-04-06 14:38] michalkvasnicak commented on #8
Ok now you can update it, released as `0.0.9` :) Thank you

[2016-04-06 14:38] #8 closed

[2016-04-08 15:44] themouette commented on #5
Maybe the concatenation can be done in another part of the build, babel is a transpiler after all, not a bundler.

WDYT?

[2016-04-09 09:30] michalkvasnicak commented on #5
Im my projects I am using webpack for client side build and babel for server side. I don't need to extract css using babel in that case.

What are you proposing is something like a wrapper around babel or something like that if I understand you right.

Why you need something like that? :) What's your use case?

[2016-04-09 18:55] DekusDenial commented on #5
I think @th

[2016-04-09 18:59] DekusDenial commented on #5
I think @themouette just want to use a single tool for multiple purposes. I have to set up postcss task to extract css-modules and tweak require hook to work on the server side because I have async postcss plugins, which does not work with css-modules-require-hook. If you do webpack for the client, you won't see that problem because it handles everything with the right loaders in chain

[2016-04-10 21:15] themouette commented on #5
Thing is that I want to release a library that uses css-modules.

To do so, whether I  expect the library consumer to use webpack with dedicated sass and css-modules setup, or I provide an ES5/CSS build.

I transform the javascript files through babel, and for now rely on [babel-plugin-webpack-loaders](https://github.com/istarkov/babel-plugin-webpack-loaders) to extract css along the way.
Then I c

[2016-04-10 21:29] michalkvasnicak commented on #5
I see. Ok I'll look into it. Extraction is done, saving css files is the hardest part (not in case of multiple files but if you want to have one single file produced by this plugin). I wish babel had post-hook so I can detect when a transformation is finished.

[2016-05-18 21:31] leoasis opened #10 "Add option to ignore certain files"
In my current app I have some files that have global css, which are just required, and they are even only required in the server (guarded by an `if`). It'd be useful to be able to avoid attempting to transform those cases, probably by supporting the [ignore option](https://github.com/css-modules/css-modules-require-hook#ignore-functionregexstring) in the same way the require hook allows.

What do

[2016-05-22 10:25] michalkvasnicak commented on #10
Hello I am sorry for a delay but I don't have time currently. I will look at it but don't know when. But feel free to create a PR if you can :)

[2016-06-01 12:31] olegakbarov opened #13 "processCss file path"
Thanks for cool project!

Though config seems straightforward i keep getting same output:

[code]
I swear to god i have the this file in proper directory with this content:

[code]

[2016-06-01 16:07] michalkvasnicak commented on #13
Hello, this is weird. I've tried to reproduce this but without luck. What version of `babel-plugin-css-modules-transform` are you using?

Have you tried to run it without `module-alias` plugin? Maybe it is the cause of problem.

[2016-06-01 18:23] olegakbarov commented on #13
Yes, that do helped!  Thank you! Should have try it by myself though. 😓

[2016-06-01 18:32] olegakbarov commented on #13
Damn it. I forgot, that i monkey-patched the module before dispatching home from work. It doesn't work.

[2016-06-01 18:38] michalkvasnicak commented on #13
Can you try to create clean project just with your `src/utils/runtimeStyles.js` and `css-modules` plugin? Something is causing that your file is not loaded or function is not exported. There is a test case for this so I really don't think there is a bug.

[2016-06-08 10:50] jacobwalton commented on #13
I'm having a similar issue with `preprocessCSS` using v0.1.1 and following babel config:
[code]

[2016-06-08 11:04] olegakbarov commented on #13
I ended up using vanilla require hook. So idk, probably we can close it...

[2016-06-08 11:11] michalkvasnicak commented on #13
I'll take a look on weekend. This is really weird.

@jacobwalton is your error same as mentioned above? Can you attach stack trace please?

[2016-06-08 11:30] jacobwalton commented on #13
Yes, very similar error:
[code]
Contents of processScss.js:
[code]

[2016-06-08 11:35] jacobwalton commented on #13
Thanks for the library btw, and thanks for looking into the issue. 👍

[2016-06-16 22:58] jrajav commented on #13
Getting exactly the same error with

[code]

[2016-06-16 22:58] jrajav commented on #13
Getting exactly the same error with

[code]

[2016-06-17 07:35] michalkvasnicak commented on #13
Hello, I am sorry, really occupied these days. I'll take a look as soon as possible.

[2016-06-17 10:27] michalkvasnicak commented on #13
I tried to reproduce this problem so I made a minimal project in branch `require-error-case` but I am unable to reproduce this. Could you try this branch please?

Run `npm install` inside `error_case` directory and then `npm run test`.

[2016-06-19 15:44] mac-r commented on #13
Fantastic lib, but same issue...

[2016-06-19 16:49] mac-r commented on #13
@michalkvasnicak i did what u asked to reproduce the error in your branch.

`Run npm install inside error_case directory and then npm run test`
gives this:
[code]

[2016-06-19 16:55] michalkvasnicak commented on #13
@mac-r it is weird. I am getting output:

[code]

[2016-06-19 16:57] michalkvasnicak commented on #13
@mac-r Can you try to upgrade npm to latest version and then redo whole process from start?

[2016-06-19 17:14] mac-r commented on #13
@michalkvasnicak what's your node version? it's same with `5.6.0`. Tried `6.2.2` too, but there are other issues not related with this specific lib (ppl say that many modules are not yet compatible with it).

[2016-06-19 17:37] michalkvasnicak commented on #13
I have npm `3.9.3` and node `6.2.1`. It's weird because I can't reproduce this problem that you all have. Could you create a minimal failing project and upload it to gist or something? Then I'll have better chances to resolve this issue.

Could you try to run `node_modules/.bin/babel` in `error_case` directory? It should do the same thing as `npm run test`.

[2016-06-19 17:53] mac-r commented on #13
my current hack is just replacing classes in `renderToString` results (with those which are in `css-modules.json`). your lib still helps a lot! we definitely need to make it better together. I'll try creating a docker container during the week, so we could be sure about having identical env. ;)

[2016-06-19 18:22] michalkvasnicak commented on #13
Thank you very much. I'm glad that this lib helps. :) Docker container is good idea. I'll try it too if I find some free time.

[2016-06-21 09:47] michalkvasnicak commented on #13
@mac-r I created `Dockerfile` in `error_case` directory along with README how to test it. Output on my machine for `docker run error_case` is:

[code]

[2016-06-21 09:50] michalkvasnicak commented on #13
@mac-r maybe it has something to do with `npm < 3.0`. But feel free to update test case to match more realistic use case so we can be sure. Maybe a part from your project with libraries you are using?

[2016-06-21 09:51] michalkvasnicak commented on #13
@olegakbarov @jacobwalton @jrajav what versions of node and npm do you have guys?

[2016-06-21 10:42] olegakbarov commented on #13
[code]

[2016-06-21 10:57] jacobwalton commented on #13
Node v5.8.0
NPM v3.7.3

[2016-06-21 17:25] jrajav commented on #13
Node v6.2.1
NPM v3.9.6

Sorry I haven't been able to contribute more information or reproductions -- we haven't had time to investigate this issue more and are just not using 'composes' anymore, for the time being.

[2016-06-22 04:44] mac-r commented on #13
my npm version is `3.6.0`

[2016-06-22 07:21] michalkvasnicak commented on #13
@olegakbarov @mac-r @jrajav @jacobwalton Guys are you using this plugin as part of babel build process `$ babel src` or as `babel-register` module in server entry point file?

[2016-06-22 08:39] olegakbarov commented on #13
As i mentioned, i've transitioned to vanilla hooks, but at the moment of stumbling upon the bug i've used `babel-registry`

[2016-06-22 09:08] michalkvasnicak commented on #13
Ok thank you, I think there is a problem when this plugin is used as part of `babel-register` I will look at it later today.

[2016-06-22 09:49] jacobwalton commented on #13
I'm using it with `babel-register` via mocha compilers, e.g.
[code]

[2016-06-22 20:44] jrajav commented on #13
@michalkvasnicak Indeed we are, yes.

[2016-06-26 07:12] TylorShin commented on #13
Also having same problem with 'babel-register'.

btw, I really want to say thanks to your library.

[2016-06-26 19:18] michalkvasnicak commented on #13
Ok so I found a simple solution. You need to pass `ignore` option to `babel-register` hook, which ignores utility functions.

E.g.

[code]

[2016-06-26 19:20] michalkvasnicak commented on #13
It has something to do with the way how `babel-register` modifies `require`. So by passing `ignore` option you are telling babel to require given processors using original `require` function without any transforms.

[2016-06-27 01:36] TylorShin commented on #13
@michalkvasnicak Thanks! I'll try your solution after work!

[2016-06-30 07:39] michalkvasnicak commented on #13
@olegakbarov @jacobwalton @mac-r @TylorShin Could you confirm if this workaround works?

[2016-06-30 09:32] TylorShin commented on #13
sorry I was too busy check solution. I'll check this at the weekend.

[2016-07-02 21:40] jrajav commented on #13
@michalkvasnicak It still doesn't work for me.

I removed ` --compilers js:babel-register` from my mocha command, so it is now just `BABEL_DISABLE_CACHE=1 NODE_ENV=test mocha \"src/**/*.spec.{js,jsx}\" -r mocha.setup.js`.

My mocha.setup.js:

[code]

My postcssparser.js:

[code]

.babelrc:

[code]

And a sample test file:

[code]

<Footer /> is using a css module with react-css-modules. With this

[2016-07-03 16:53] michalkvasnicak commented on #13
@jrajav pls try to run your tests using `--compilers js:mocha.setup.js` if it does not work, create a new js file with content

[code]

and use it as compiler. In my minimal test case it works.

[2016-07-03 17:10] michalkvasnicak commented on #13
`README.md` is updated to reflect those requirements to run with `mocha` or `babel-register`.

[2016-07-03 21:42] jrajav commented on #13
Doesn't work for me with `--compilers`, either - same error. I'm actually trying it with `--compilers js:mocha.setup.js,jsx:mocha.setup.js` since the components themselves are jsx, though - is it possible that is requiring babel-register twice?

[2016-07-04 05:33] michalkvasnicak commented on #13
I think it is possible. Try to require only compiler for js and pass `extensions` config to babel-register.

[code]

[2016-07-04 05:39] michalkvasnicak commented on #13
@jrajav try to run only one spec file. Maybe mocha is requiring compilers for every spec file?

[2016-07-04 15:08] jrajav commented on #13
I did try running it on a single spec file, yes. The babel-register extensions option also does not help.

[2016-07-04 15:13] michalkvasnicak commented on #13
@jrajav this is weird. I don't know why is `babel-register` resolving all those functions to an empty object. If there is a way to resolve this, it should work without any configuration.

[2016-07-13 17:02] Kannaj opened #15 "Is there a way to properly compile the source code using this plugin"
The plugin seems to work only during runtime. for example , i can run it fine when i use the below

[code]

however , when i try to compile the entire directory using babel-cli.
[code]

i still get the css error. Is there anyway i can make it to work on the compiled version as well?

[2016-07-14 06:46] michalkvasnicak commented on #15
What error are you getting? Because this plugin works just fine. I'm using it with babel-cli in several projects without problem.

[2016-07-14 07:42] Kannaj commented on #15
this is the below error i get when i run the compiled version
[code]

does the plugin work only if its during run time?

[2016-07-14 08:05] michalkvasnicak commented on #15
This plugin works with `babel-cli` too. I am using it to compile js code.

I need to see javascript source file where is `app.css` imported and node.js version you are using. And if you are using `.babelrc` then past it here too.

But minimal project would be great so I can test it. It's weird that babel is actually opening css files for compilation but it shouldn't open it.

Maybe you are compili

[2016-07-14 08:11] Kannaj commented on #15
My app.jsx file
[code]

my .babelrc is for both the client and the server - so i'm not including the plugin here
[code]

my server file (only including the relevant parts - i'm not directly importing any component as such)
[code]

[2016-07-14 08:17] michalkvasnicak commented on #15
You're using `ReactRouter` with server side render so it will import components. Probably you have components in `client` directory and server side files in `server` directory.

[code]

You are compiling just `server` directory, but when server tries to render some component, it will import files from `client` directory which are not compiled. So you can try to compile directories with files that

[2016-07-14 08:20] Kannaj commented on #15
So i should try by importing routes from the compiled 'bundle.js' file on the server side?

[2016-07-14 08:21] michalkvasnicak commented on #15
No, you need to compile `client` directory using babel too. So you will have 2 build processes:

1. webpack will compile js files for browsers
2. babel will compile js files for node.js

[2016-07-14 08:26] michalkvasnicak commented on #15
For example sometimes I am using following directory structure:

[code]

* `server` - contains only files used by node.js
* `client` - contains only files used by browser
* `shared` - contains files shared between node.js and browser (e.g. Components that are rendered server side and client side too)

But you can have a problem when you are importing files like `svg` or something other than `js, c

[2016-07-14 08:26] Kannaj commented on #15
I'm sorry :( .. but that is exactly what i'm doing - i have a webpack.config.js for the client side. i run `webpack` - get the compiled bundle.js in my public directory. run `npm start`  which uses babel to compile the es6 server side code.

[2016-07-14 08:28] michalkvasnicak commented on #15
Yes but you are compiling only `server` directory according to your definition from first comment `babel server -d serverLib --plugins css-modules-transform`. You need to compile `client` too.

[2016-07-14 08:31] Kannaj commented on #15
ahh .. so the problem is im not using the same plugin for client as well right?

[2016-07-14 08:35] Kannaj commented on #15
closing for now to try your suggestion .. will reopen if i still dont understand. .. thank you for your patience :)

[2016-07-14 08:35] #15 closed

[2016-07-14 08:49] michalkvasnicak commented on #15
No, problem is that you are compiling just files in `server` directory and not in `client`. So those compiled files are using not compiled files from `client` directory.

`babel-node` works for you because it behaves like `babel-register` so it compiles all files you are `require`ing using defined babel plugins and presets.

So if `babel-node` encounters a `require` it will try to compile a file i

[2016-07-14 08:58] Kannaj commented on #15
Thank you for the through explanation @michalkvasnicak :) . its clear now .. ill try your method

[2016-08-02 07:57] #5 closed

[2016-08-14 01:23] pioneer32 commented on #13
Faced the same issue. Adding "ignore": [ "tools/**/*.postcssparser.js" ] to .babelrc solved it.

[2016-08-14 08:05] michalkvasnicak commented on #13
@pioneer32 yes this is the same solution as in this [comment](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/issues/13#issuecomment-230163063)

[2016-08-19 12:26] nordsimon opened #18 "Updated css-modules-require-hook"
Hello

A merge was made on the css-modules-require-hook. It fixed issues I'm having with scoped npm packages. So if you would like to bump the current version to 4.0.2 instead of 4.0.1 it would be fantastic

in package.json
`"css-modules-require-hook": "^4.0.1",`
to
`"css-modules-require-hook": "^4.0.2",`

[2016-08-20 11:37] #18 closed

[2016-08-20 11:39] michalkvasnicak commented on #18
Ok I've done it. But I don't think that was necessary, because version signature is `^4.0.1` so it should update to newest version when you run `npm update`. If it did not, then just remove module from `node_modules` dir and rerun `npm update`.

[2016-08-20 13:48] nordsimon commented on #18
Sure. I didn't run update though, just remove and another install. Thanks anyway

[2016-09-02 04:36] andyfenelon opened #19 "Error: provided an invalid property of "generateScopedName""
sorry if i've missed something but i'm getting the error when trying this
.bablerc
[code]

error

it's working fine like this, but i need it to hash it like above.

[code]
thanks.

[2016-09-02 06:38] michalkvasnicak commented on #19
Hello, you need to specify it like this:

[code]

Did this help you?

[2016-09-02 10:46] #19 closed

[2016-09-02 10:55] #10 closed

[2016-09-02 11:38] michalkvasnicak commented on #13
Now it seems that you only need to specify your `processCss` require as ignored in `babel-register`. But be aware, if you set `ignore` option, you need to explicitly ignore `node_modules` too.

[code]

[2016-09-02 11:38] #13 closed

[2016-09-02 11:41] michalkvasnicak commented on #13
See test case in directory `error_case` of this branch https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/tree/require-error-case

There is docker container so you can try it, just follow steps in `README.md`.

[2016-09-02 16:23] andyfenelon commented on #19
yup.  thanks !

[2016-09-11 17:22] saiichihashimoto opened #21 "Removing requirement for extension in import/composes"
When using babel-plugin-css-modules-transform (which has saved my life, btw), you can write something like this:

[code]

But this isn't possible:

[code]

This is required, currently:

[code]

Currently, webpack doesn't require the extension here and, to keep parity, it would make a lot of sense to not require it here either.

[2016-09-11 21:05] michalkvasnicak commented on #21
Hello, thank you. I think that webpack resolves files using its own resolver.

Unfortunately, I won't be available during the week so maybe you can take a look if it is very important. If not I will, but not earlier than 19.9.

[2016-09-16 12:32] pixelass opened #22 "cannot use "generateScopedName" + "preprocessCss""
When I set both only one works (`preprocessCss`)

when I disable `preprocessCss`, `generateScopedName` works

[code]

Not sure if I am doing something wrong

### `generate-scoped-name.js` (never called if preprocessCSS is set)

[code]

### `preprocess-css.js`

[code]

[2016-09-16 15:06] pixelass opened #23 "Add better examples"
IMHO it is very hard to understand how this works.

I think some real world examples with different combinations would help.

I looked into the tests but could not find any tests which combine certain properties (e.g. `preprocessCss` + `generateScopedName`)

As-is, I cannot use this plugin due to fear of misconfiguration.

Happy to contribute if I figure out how it works.

[2016-09-16 21:20] pixelass commented on #22
my bad. seems I had another bug.

[2016-09-16 21:20] #22 closed

[2016-09-17 00:03] pixelass commented on #23
https://github.com/tone-studio/ui-patterns

Here's an example how I am using it to generate standalone modules. I'm pretty sure there's an easier way to do this.

What I'm doing:

1. `preprocessCss``
2. `generateScopedName`

This is order per definition of this plugin

[code]

All files are then generated in the lib folder. (I adjusted the filename: See #24)

Since this plugin does not resolve dep

[2016-09-17 09:52] michalkvasnicak opened #25 "extractCss.filename variables"
`[path]` variable should contain only relative path without filename
`[name]` variable should contain only filename without extension

[2016-09-17 09:55] michalkvasnicak commented on #23
As I wrote in comment for #24 there is a bug in `extractCss.filename` configuration where `[path]` contains filename so `[name]` is useless. This will be fixed by #25 but I need to find a time for this.

What do you mean that this plugin does not resolve dependencies? Can you write a simple example please?

[2016-09-17 12:55] #25 closed

[2016-09-17 12:56] pixelass commented on #23
Thx for the quick response.
What I mean is:
It does not include dependencies (by design) and it should not. This is obviously what webpack or browserify are for. But due to that the dependencies in css files are also not included so I had to manually add them in files.

I guess this is only an issue because of the structure I chose for that project.

It works well as it is. I was just wondering if

[2016-09-17 12:58] michalkvasnicak commented on #23
`extractCss.filename` is fixed now in `1.0.1`. `[path]/[name].css` should work and `[path]` should not.

[2016-09-17 13:01] michalkvasnicak commented on #23
By dependencies you mean images, etc?

[2016-09-17 13:08] pixelass commented on #23
I mean required files:

* css: https://github.com/tone-studio/ui-patterns/blob/master/src/molecules/poti/index.css#L1-L2
* js : https://github.com/tone-studio/ui-patterns/blob/master/src/molecules/poti/index.js#L10-L11

Basically what `extractCss` does if it is a string 'combined.css' but per folder (with object notation)

[2016-09-17 13:21] michalkvasnicak commented on #23
Ok I think that I understand now. Basically you want something like combined.css but for directory / entrypoint.

So for example for your `molecules/poti/index.js` you want `index.css` to contain css from `poti-knob/index.css` and `poti-marker/index.css`. Sou you have everything you need in single css file for given molecule.

Maybe we can do something like that but using some special option for `

[2016-09-17 13:28] michalkvasnicak commented on #23
But it is tricky because babel does not follow import/require statements, it just loads all files and processes them. Webpack on the other hand follows import/require statements so it is aware about context.

[2016-09-17 13:32] pixelass commented on #23
If I use `postcss-import` in `processCss` the generated names get messed up. I forgot to mention that.
So I am running that after everything is transpiled because I have to inline the imports after the names have been generated.
(I am well aware that this might not be an intended feature and fully understand if it will be rejected.)
The 3rd mode sounds perfect but it would have to support this req

[2016-09-17 13:45] michalkvasnicak commented on #23
Have you tried to use `postcss-import` as part of a `prepend`?

https://github.com/css-modules/css-modules-require-hook/issues/58#issuecomment-191220101

There is also mention about sync mode of `postcss-import` and it's supported by `postcss-import` v7.

[2016-09-17 13:46] michalkvasnicak commented on #23
Because you need to resolve imported before AST is processed.

[2016-09-17 20:31] pixelass commented on #23
I've played around with various combinations. The current solution seems to work well. The only downside is having to import css files. `prepend` did not work for me. I might have to look into it again.

[2016-09-18 08:29] michalkvasnicak commented on #23
I think we can close this issue. I don't see any simple solution for this problem and as I wrote, babel don't know about context because it does not follow imports/requires so we can't construct tree of css files.

[2016-09-18 12:04] pixelass commented on #23
👍

[2016-09-18 13:59] #23 closed

[2016-09-21 06:53] michalkvasnicak commented on #21
I am closing this because webpack is not using css-modules-require-hook under the hood but it's own implementation that uses postcss and some plugins + own rules to parse them.

Maybe you can open this issue in https://github.com/css-modules/css-modules-require-hook

[2016-09-21 06:53] #21 closed

[2016-11-02 12:38] kevinsimper opened #27 "Babel-cli watch mode"
I tried using this together with the babel-cli and it does only extract the CSS when it is run the first time, every later change is not picked up even though babel does transpile the .js files.

I did try enable the `devMode` but it did not work.

[2016-11-03 09:24] michalkvasnicak commented on #27
@kevinsimper I will look into it but I don't have enough free time these days. :-/

[2016-11-05 12:06] michalkvasnicak commented on #27
@kevinsimper this is probably problem with `babel-cli` which watches for changes only in `javascript` files. So it is not aware that css file has changed. In the atom editor, you can trigger change by saving javascript file but in IDE like the Jetbrains Webstorm this will not cause an update because this IDE saves file only if is its content is really changed.

Unfortunately I can't find a way how

[2016-11-05 12:14] michalkvasnicak commented on #27
Babel is not following imports / requires. Only way to trigger css update is to update javascript file which is importing it.

Unfortunately this plugin is not intended to extract css nor to substitute webpack. It should be used with webpack (which watches imports / required).

[2016-11-06 09:44] kevinsimper commented on #27
@michalkvasnicak Okay, that is a bit annoying that babel-cli doesn't do that.

The problem with webpack is that on the server-side there is no need to bundle them all together, but it seems I have to do that if I want to import css.

[2016-11-06 09:58] michalkvasnicak commented on #27
@kevinsimper You need webpack only for development purposes. But you can benefit from compiled server side javascript too. It can increase the performance of a server side application by bundling everything except system libraries to one file. This will eliminate file system usage in `require` calls.

We are using this at work for our siteproject. I created an application [(create-js-app)](https:/

[2016-12-14 10:57] AmBeta opened #28 "camelCase option works differently from css-loader?camelCase"
I use this babel plugin on server side, while using webpack css-loader on client side, to get css modules work in an isomorphic app.

I want to keep my classes in dashed style in css files, so I turn on the `camelCase` option on both side.
But they result in different class names.

This is my CSS:

[code]

The server side result: `<div class="style__borderedBox___1CfFu"></div>`
The client side res

[2016-12-14 11:14] michalkvasnicak commented on #28
Have you tried replacing `localIdentName` by `generateScopedName` in `css-loader` query string?

What version of `webpack` and `css-loader` are you using?

[2016-12-14 11:17] michalkvasnicak commented on #28
What's  the correct result you want? The server side output or client side output? Because from what I see, you are enabling the `camelCase` so server side is correct but client side is not.

[2016-12-14 11:36] AmBeta commented on #28
@michalkvasnicak `generateScopedName` didn't work in `css-loader`.
My `webpack` version is `1.13.1` and my `css-loader` version is `0.23.1`.

The client side does output a camelcased class name to the `styles` object, and the class name in the output remains what it is in my css file. I'd prefer the client side output.

[2016-12-14 11:53] AmBeta commented on #28
In another word, with `import styles from './style.css'`,
the client side generates this object:

[code]

the server side generates this object:

[code]

[2016-12-14 12:49] michalkvasnicak commented on #28
In this case I think you should file an issue in https://github.com/css-modules/css-modules-require-hook because this plugin is just a wrapper and does not contain any logic that has something to do with the `camelCase` nor generated css class names.

[2016-12-14 13:13] michalkvasnicak commented on #28
I tried to reproduce the problem in https://github.com/css-modules/css-modules-require-hook/blob/4.0.5/test/api/camelCase.js.

I set `generatedScopedName` + `camelCase` and it seems to work just fine. So I will need to investigate more. Maybe there is some problem when it is used in this plugin.

[2016-12-15 02:29] AmBeta commented on #28
@michalkvasnicak Things turn out to be right now and I can't reproduce the problem either. I really have no idea what happened:(

I'll keep tracking this problem and try to find the cause.

By the way, I use `less` as the preprocessor, and this is my hook file:

[code]

[2016-12-15 08:07] michalkvasnicak commented on #28
So is it good now? It seems like some cache problem e.g. If you had a `.borderBox` in css and then you rewrote it to `.border-box` maybe this could cause a problem.

[2016-12-15 11:12] AmBeta commented on #28
It works fine now. Maybe the cause is babel cache.

[2016-12-15 11:12] #28 closed

[2016-12-23 17:49] andynoelker opened #29 "Inject styles into head tag like style-loader"
I apologize if this is not the correct repository to post into. I have been using css modules with style-loader in a project for some time, and it builds a `<style>` block in my `<head>` tags (instead of bundling everything into an external file using extract-text-webpack-plugin). I am trying to turn my project into a private library that I can install in my other projects from a private git serve

[2016-12-24 15:13] michalkvasnicak commented on #29
I am sorry but this plugin cannot generate the `<style>` tags for you because it doesn't know anything about that. It is not working like Webpack which is bundler. What you can do is to generate a css file for your project using this plugin during the build process.

From what I know, `style-loader` is appending the `<style>` tags during in the runtime. So webpack will compile your css to a javasc

[2016-12-24 17:21] andynoelker commented on #29
@michalkvasnicak Thank you so much for the explanation and advice! Like I said, I'm still pretty new to developing packages to be used by other projects. I guess because I am transpiling everything with babel in my `postinstall` step I thought perhaps there was a way with this project but that makes sense that it cannot do the same things as webpack. I will look into the links you provided althoug

[2016-12-24 17:21] #29 closed

[2016-12-25 12:00] michalkvasnicak commented on #29
@andynoelker No problem :). You can still provide your css files in package. But you need to configure webpack so it can parse your `node_modules`. So only hard thing with this solution is that you need to provide step by step guide for others how to set up their webpack + they need webpack to use your packages. You are basically enforcing others to use webpack.

We are doing something like that a

[2016-12-27 16:53] andynoelker commented on #29
@michalkvasnicak This is all for my work so we also have the luxury of enforcing our consumer apps to parse this project with webpack in `node_modules` and that's the solution I've gone with for now. The other projects you linked to look good but they all seem like variations of using CSS-like sytnax in javascript and I really like using native stylesheets with CSS modules. It's a shame there seem

[2016-12-27 17:52] michalkvasnicak commented on #29
@andynoelker you could use webpack to do what you want. You just need to import your module so webpack will know that it has to transpile source code of your module.

[code]

I am using webpack for server side and client side. Where on the server side I am just getting class names and on the client side I am extracting styles to css file in production. Style loader is used only during the developm

[2017-01-13 21:46] wbyoung opened #30 "babel-plugin-transform-postcss"
Hi @michalkvasnicak,

I just wanted to bring your attention to [`babel-plugin-transform-postcss`](https://github.com/wbyoung/babel-plugin-transform-postcss) which I based off of the awesome work that you've done here.

This plugin wasn't quite fitting with what I wanted, so I started from what you had & went in a slightly different direction. The main differences are:

- Doesn't use the `require`

[2017-01-13 21:46] wbyoung commented on #30
Closing since this was really just to ping @michalkvasnicak.

[2017-01-13 21:46] #30 closed

[2017-01-14 12:39] michalkvasnicak commented on #30
@wbyoung Thank you for information 👍

I hope that this plugin served well as the base for your plugin. :) I will list it in README.

[2017-01-15 02:33] wbyoung commented on #30
It did indeed — great work!

[2017-01-24 18:48] GabeMedrash opened #31 "Reliance on 'babel-plugin-transform-es2015-modules-commonjs'"
Hi @michalkvasnicak--thanks for this great plugin. I've been using it for several months in various projects. In some of those projects I'm planning on transitioning to webpack v2, which can now parse es6 `import` and `export` statements (and so does not required 'babel-plugin-transform-es2015-modules-commonjs' to transpile, e.g., `import`  into `require(...)` calls).

The final hurdle in that tra

[2017-02-05 13:55] #31 closed

[2017-02-07 01:54] Benno007 commented on #8
I'd just like to add a comment that I solved the issue of not passing options by doing this in my webpack babel loader:

[code]

[2017-02-07 13:20] pronebird commented on #27
CSS remains the same even if I change corresponding JS file.

[2017-02-07 18:31] michalkvasnicak commented on #27
@pronebird do you have `devMode` enabled?

[2017-02-08 09:47] pronebird commented on #27
@michalkvasnicak I must have missed something but it works with `devMode` on. I swear I tried it before...

[2017-02-08 10:32] pronebird commented on #27
@michalkvasnicak after testing for a little while. Sometimes it happens that it does not refresh combined CSS. This is followed by:

Not sure what's going on there..

[2017-02-08 13:27] pronebird opened #33 "Cache issues with CSS"
For some unknown reason extracted CSS is only saved to disk once.  All subsequent changes to CSS are no-op.

`NODE_ENV` is set to `development`.

Config:

[code]

This is the log from browser-sync:

[code]

<img width="1111" alt="screenshot 2017-02-08 12 43 54" src="https://cloud.githubusercontent.com/assets/704044/22737733/46b2cd34-edfc-11e6-987e-2d628092e1e2.png">

I wrote a somewhat test to ver

[2017-02-08 13:45] michalkvasnicak commented on #33
@pronebird which version of this plugin are you using? If it is newest, could you try downgrade to `1.1.0`?

[2017-02-08 13:52] pronebird commented on #33
It's 1.2.0

[code]

Same issue with 1.1.0. First change is OK, subsequent calls do not generate combined CSS.

[2017-02-08 14:04] pronebird commented on #33
It's cache issue in `requireCssFile`.

`delete require.cache[filePathOrModuleName];` has to be added.

[2017-02-08 14:05] michalkvasnicak commented on #33
I think it is caused by this line https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L95

[2017-02-08 14:06] michalkvasnicak commented on #33
It's not cache issue if you enable `devMode`. https://github.com/css-modules/css-modules-require-hook#devmode-boolean

[2017-02-08 14:07] michalkvasnicak commented on #33
Could you try to brute force change source for this plugin in the `node_modules` so you will workaround the line I sent you? It is faster way how to check if everything works :)

[2017-02-08 14:08] pronebird commented on #33
Yeah yeah that's what I am doing right now. I've enabled `devMode`, gonna erase node_modules and reinstall from scratch then try couple of things you suggested. I had this commented out too... https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L95

[2017-02-08 14:09] michalkvasnicak commented on #33
I think that should solve the problem because we are not writing css again if a css file is transpiled.

[2017-02-08 14:11] pronebird commented on #33
You're right! With `devMode` on and [line #95](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L95) commented everything works as expected when using `babel --watch`

[2017-02-08 14:12] michalkvasnicak commented on #33
Ok so we should change the line so it only checks cache if `devMode` is enabled, otherwise it will ignore changes in css files.

[2017-02-08 14:12] michalkvasnicak commented on #33
I am sorry I mean opposite, to check it only if `devMode` is disabled.

[2017-02-08 14:13] pronebird commented on #33
Is it safe to assume that if this thing is called more than once then the same class-set is produced? I mean are CSS class names deterministic or randomized on each compilation?

[2017-02-08 14:15] michalkvasnicak commented on #33
I think they are generated based on css rules. So unless you don't have hashes in css names I think class names changes with rules in their definitions. But I am not sure (not an expert to css modules).

[2017-02-08 14:18] michalkvasnicak commented on #33
I meant unless you have set css class name generator to ignore hashes you should have unique css classes.

[2017-02-09 18:56] willdembinski commented on #15
Hi im have this issue - but its happening to me at run time.

My Error:
[code]

My package.json scripts:
[code]

My .babelrc:
[code]
Running `npm start` results in the error.  I would love any guidance that I can get. Very confused :(

[2017-02-09 18:57] willdembinski commented on #15
Here's my preprocess script:
[code]

[2017-02-09 20:43] michalkvasnicak commented on #15
@willdembinski I am not sure but maybe try to change your `start` script in `package.json` to `babel-node ./src/api/server.js` I think this will load `.babelrc` so there is no need to specify plugins again. I'm not sure if `babel-node` will merge `.babelrc` with the arguments from the command line.

[2017-02-09 21:07] willdembinski commented on #15
@michalkvasnicak - Literally ecstatic that you got back to me.  Thank you so much. So with just running:`"start": "babel-node ./src/api/server.js --presets es2015,stage-2"` - it errors for some reason no being able to locate the preProcesscss script.

[code]

[2017-02-09 21:09] willdembinski commented on #15
But with the `--plugins css-modules-transform` flag.  It seemingly get farther - ultimately error-ing in the css file.  Maybe my problem is the `--plugins` flag is causing it to ignore whats in the babelrc, NOT having the preprocess module, then error-ing in css file?

[2017-02-09 21:10] willdembinski commented on #15
Also - it throws the same error when using an absolute file path for the location of the preprocess script. sad panda :(

[2017-02-09 21:11] michalkvasnicak commented on #15
@willdembinski yeah it seems that if you specify it using `--plugins` then it is ignoring settings for plugin from `.babelrc`.

Have you tried to specify absolute path in `.babelrc` and run it without `--plugins` so `.babelrc` is picked up?

[2017-02-09 21:13] willdembinski commented on #15
Forget what I said about the absolute file path - when i use an absolute path i get:

[code]

[2017-02-09 21:15] willdembinski commented on #15
The module is exporting a blank object.  Which is indicative of a circular dependency?

[2017-02-09 21:21] michalkvasnicak commented on #15
It's really strange you are getting this error. I don't see any circular dependency. If you run `node ./utils/sass_preprocess_tool.js` it works without any problem?

[2017-02-09 21:31] willdembinski commented on #15
Yes sir :( I can import it and it is the desired function.  I just reinstalled all the node modules.  It gave this error:
[code]
Followed those instructions, same error about the module exporting a blank object. :(

Error:
[code]

[2017-02-09 21:33] michalkvasnicak commented on #15
Could you try to compile your scripts so you can run your app using `node` and not `babel-node`? Maybe `babel-node` is the reason why it does not work but I am not sure.

[2017-02-09 21:34] willdembinski commented on #15
I will give that a shot.  But to confirm - I'm expecting to to still error on the .scss file correct? If it doesnt - then something truly magical is happening?

[2017-02-09 21:37] michalkvasnicak commented on #15
It shouldn't error on `.scss` file because now it is trying to import your preprocess file but it has some problem with circular dependencies probably. And if this is really caused by circular dependencies then I am not sure how it is possible because you don't have any requires in your preprocess file. So maybe it is caused by some `babel-node` require hook.

[2017-02-09 21:39] willdembinski commented on #15
It successfully compiles everything in a file.

[2017-02-09 21:40] michalkvasnicak commented on #15
And does it work when you run it using `node` ?

[2017-02-09 21:43] willdembinski commented on #15
One moment - I have some stupid require issue.  Fixing.

[2017-02-09 21:45] willdembinski commented on #15
Yea - i guess Im a total babel noob.  My relative require statements are destroying everything. I am fail.

[2017-02-09 21:45] willdembinski commented on #15
I think you got me on a good track - Im gonna try this working with it for a bit before bothering.  I really appreciate you taking the time to help <3 Very much appreciated.

[2017-02-09 21:48] willdembinski commented on #15
Yes sir.  Did that.  How does babel handle file paths?  I should probably read the literature more before asking questions like that.

[2017-02-09 21:52] willdembinski commented on #15
Ah - the entire directory should be compiled. Thank you again for the help.

[2017-02-09 22:08] willdembinski commented on #15
Alright - totally able to run the compiled version when my head is not place firmly in my @$$.  I will maybe try using an older version of babel-node or something?  Do you think thats a decent course of action?

[2017-02-10 06:34] michalkvasnicak commented on #15
Not really sure if it will help. I'm not familiar enough with `babel-node` internals. Maybe try to use only this plugin in your `.babelrc` with `babel-node` and if you get same behaviour (circle dependency) then it is caused by logic in `babel-node`.

[2017-02-13 19:43] willdembinski opened #35 "Error: Cannot find preprocess script. (For sass in my case)"
Have this configuration:
[code]

Using the exact script from the READ.me
[code]

When using a relative file path get:
[code]
When using absolute file path, get:
[code]

[2017-02-13 19:44] willdembinski commented on #35
Ultimately, the absolute file path at least resulting in a file being found is one thing.

But the fact that it doesn't accept the module is concerning.  Its entering as a blank object.  Indicative of a circular dependency, but there definitely isnt one :sad:

[2017-02-15 17:27] michalkvasnicak commented on #35
I am sorry, I will take a look sometime in March, I don't have free time in February. I am moving to the other side of the country and I have to do a lot of stuff.

Could you provide a minimal repository where I can get this error?

Is this still with `babel-node` or this is happening for babel compilation using `babel` ?

[2017-02-15 23:44] willdembinski commented on #35
`babel-node` :)  I could take a peak and suggest a PR if it would make your life easier?  Good luck on the move bro - I hope its not too stressful. :] Thanks for the help a la community!

[2017-02-16 00:36] inv8der opened #36 "Unknown arguments: processOpts"
According to the `css-modules-require-hook` [docs](https://github.com/css-modules/css-modules-require-hook#processoropts-object), processOpts is not a valid option. Should this be processorOpts instead? I receive this error with the former option.

[code]

<img width="479" alt="screen shot 2017-02-15 at 4 19 58 pm" src="https://cloud.githubusercontent.com/assets/830026/23001773/919b9b74-f39b-11e6-

[2017-02-16 08:10] #36 closed

[2017-02-16 08:12] michalkvasnicak commented on #36
Thank you for report, released as 1.2.1

[2017-03-03 20:04] guidiego opened #37 "Sass support"
I don't know why, but .sass not work :thinking:

[2017-03-07 12:52] michalkvasnicak commented on #37
Please provide more information like error log and your configuration.

[2017-03-07 16:39] Undistraction commented on #27
I have the same problem. CSS is only compiled on first run. Not when I edit the CSS and not when I edit the JS.
[code]
And
[code]

[2017-03-07 17:01] michalkvasnicak commented on #27
@Undistraction yeah @pronebird tried to resolve this in #34 but it is a bit harder than that because we need to rewrite whole css file on every change. This can cause performance problems if CSS is big.

[2017-03-07 17:03] Undistraction commented on #27
I'm trying to get away with using this in place of a much heavier Webpack config, but looks like I'll have to go down that route. Thanks though.

[2017-03-07 23:22] joaocrq commented on #35
Hello! Is there any news on this yet? Thanks!

[2017-03-08 01:21] wi-ski commented on #35
I ended up patching - poorly - you check it out here: https://github.com/wi-ski/terriblepatchforcssmodules

I do not recommend using this at all.  However - it might point you in the right direction.

[2017-03-11 11:21] michalkvasnicak commented on #35
@wi-ski I found that it was caused by `"babel-plugin-webpack-alias"`. I was refactoring code when I've got an error that `webpack.config.js` or `webpack.babel.config.js` are missing.

See screenshot

![image](https://cloud.githubusercontent.com/assets/174716/23822822/06fa58bc-0655-11e7-84c0-fd44c55ee092.png)

This caused node.js to throw an error as it was a circular dependency.

I was trying your

[2017-03-11 11:22] michalkvasnicak commented on #35
@joaocrq Could you share your configuration or a minimum project to reproduce error?

[2017-03-11 11:24] michalkvasnicak commented on #35
@wi-ski I created `webpack.config.js` in my `test_case` project with following contents:

[code]

And plugin works without any problems with `babel-node`.

[2017-03-11 11:56] michalkvasnicak commented on #35
@wi-ski ok previous comment is not true. It compiles but css is not written so I think that something swallows an error.

[2017-03-11 14:14] michalkvasnicak commented on #33
@pronebird could you try version `next` please?

[2017-03-11 14:14] michalkvasnicak commented on #35
@wi-ski could you try `next` version please?

[2017-03-11 14:19] michalkvasnicak commented on #27
@Undistraction resolved in #38 . You can install it using `next` version to try it. It does not watch the css files but regenerates whole css if you change corrensponding javascript file.

[2017-03-11 14:57] Undistraction commented on #27
Brilliant. Thanks

[2017-03-11 15:00] michalkvasnicak commented on #27
@Undistraction don't forget to set `devMode` to `true`. And please it would be really helpful if you try it and checks if everything work as expected so I can merge the PR.

[2017-03-11 15:04] Undistraction commented on #27
I ended up building with Webpack because of this issue, but will try and
look on Monday.

On Sat, 11 Mar 2017, 15:00 Michal Kvasničák, <notifications@github.com>
wrote:

[2017-03-11 20:01] pronebird commented on #33
@michalkvasnicak good progress! I'll take a look at it on monday.

[2017-03-13 17:06] Erid commented on #37
You can fix it by adding `indentedSyntax: true` to the options on the `renderSync`:
[code]

According to `node-sass`' documentation they use the extension from the filename to know whether to parse the indented syntax or not ([reference](https://github.com/sass/node-sass#indentedsyntax)), but for some reason it isn't working for me either, so I just added that option there and it worked.

[2017-03-16 21:15] wi-ski commented on #35
@michalkvasnicak - Yea totally.  I cant do it yet.  But I haven't forgotten. Apologies for the delay.

[2017-03-22 04:06] evisong opened #40 "The camelCase option needs to support string values"
Hi,

Thanks for this lib, we're heavily using it in our project.

Regarding the `camelCase` option, setting it to `true` causes a lot of duplications since original class names are kept, e.g.:

[code]

In order to solve this, `css-modules-require-hook` has just supported new string values: `only`|`dashOnly` per https://github.com/css-modules/css-modules-require-hook/issues/89 , and released in v4.

[2017-03-22 07:30] michalkvasnicak commented on #40
Thank you! I will update dependencies and modify [camelCase](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/options_resolvers/camelCase.js) option resolver.

[2017-03-22 09:48] michalkvasnicak commented on #40
Released as `1.2.7`

[2017-03-22 09:48] #40 closed

[2017-03-22 09:53] michalkvasnicak commented on #33
Released in `1.2.6`. Is not tested properly so maybe bugs will occur.

[2017-03-22 09:53] #33 closed

[2017-03-22 09:55] michalkvasnicak commented on #37
@guidiego is your issue solved? Did @Erid advice help? Can I close this issue?

[2017-03-22 09:56] michalkvasnicak commented on #27
Released as `1.2.6` but is not tested properly so bugs can occur.

[2017-03-22 09:56] #27 closed

[2017-03-22 10:22] evisong commented on #40
I'm totally impressed by your super fast response, thanks a lot!

[2017-03-22 12:22] pronebird commented on #27
@michalkvasnicak I tested it and it works fine. Thanks for this release! 🎉

Important that it won't work with `--skip-initial-build` since `babel-plugin-css-modules-transform` needs to scan all sources with CSS imports to find all available CSS classes.

This is currently a major blocker for me to adopt this babel plugin.

[2017-03-22 12:40] guidiego commented on #37
Yeah! @michalkvasnicak thx :D

[2017-03-22 12:40] #37 closed

[2017-03-22 13:13] michalkvasnicak commented on #27
@pronebird I see. In this case I cannot do anything to improve because `--skip-initial-build` is basically telling `babel` to not do anything so this plugin is not used until next build.

[2017-04-03 19:48] PeteJodo opened #41 "`/**` comments incorrectly built"
Not sure where in the pipeline this is occurring but this is getting outputted in the `.css`

[code]

My `preprocessCss` script looks like:
[code]

I've tried adding `outputStyle: 'compressed'` to `sass.renderSync` but that didn't change the output

[2017-04-03 20:03] PeteJodo commented on #41
I should add some more context...one of my .scss files are importing `@import "../../../node_modules/react-select/scss/default";`

[2017-04-03 20:21] PeteJodo commented on #41
Ahhh I think the plugin isn't finding my preprocessCss script?

[2017-04-03 20:24] PeteJodo commented on #41
I'm an idiot, I had 2 different `preprocessCss` script files I was experimenting with and was changing the wrong one >.<

[2017-04-03 20:24] #41 closed

[2017-04-06 01:21] nahue opened #42 "How to add PostCSS ?"
Seems like css-modules-require-hook has a `use` config that allows to pass a array of postcss plugins, but this doesnt seem to work here.

Any ideas?

[2017-04-06 11:07] GreenGremlin opened #43 "Error with Babel 6.24.0"
When used with Babel 6.24.0, I get the following error. I shortened the absolute path to _./node_modules_. Looking at the Babel source, it looks like manipulateOptions was only added in Babel 7.

[code]

I'musing the following custom preset to configure babel-plugin-css-modules-transform.

[code]

[2017-04-06 11:20] michalkvasnicak commented on #43
Thank you! :)

This is weird because this project is tested against `babel 6.22.2` so it shouldn't do any BC changes. If you downgrade babel to this version does it solve the problem?

[2017-04-06 11:22] michalkvasnicak commented on #42
Thank you. Could you send me an error message or something so I can track down the problem? Because `use` is accepting an array of functions or modules exporting a functions see [use option resolver](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/options_resolvers/use.js)

[2017-04-06 13:39] nahue commented on #42
Oh im sorry i fixed it with
`"append": [
	"postcss-cssnext"
],`

`use` was working but somehow messed up css modules (im using it with next.js), but `append` works like a charm!

[2017-04-06 13:42] michalkvasnicak commented on #42
So is it ok now? 🙂  Can I close this issue? `append` and `use` basically have the same code.

[2017-04-06 14:53] nahue commented on #42
yes please! and sorry!

[2017-04-06 14:53] #42 closed

[2017-04-19 21:37] faceyspacey opened #44 "what's the recommended way to disable this within babelrc when compiling via webpack?"
Currently, I'm duplicating my babelrc in my webpack config with `babelrc: false` like this:

[code]

But ultimately that's really cumbersome, especially when what I'm doing is recommending the use of `babel-plugin-css-modules-transform` for use in conjunction with my package. It means a lot of extra directions to provide developers.

I've tried things like using the `ignore` option to no avail. It

[2017-04-20 07:26] michalkvasnicak commented on #44
Are you trying to disable whole `babel-plugin-css-modules-transform` when you are using webpack?

In that case you can provide `ENV` variable and then in babelrc describe plugins for each [environment](https://babeljs.io/docs/usage/babelrc/#env-option).

Or you can use `.babelrc.js` I think and you can write normal `if,else` conditional statements here with `process.env....`. So for example you ca

[2017-04-20 07:40] michalkvasnicak commented on #44
Ok I don't think there is such thing as `.babelrc.js`. So I think that environments in `.babelrc` could help :)

[2017-04-20 08:20] faceyspacey commented on #44
@michalkvasnicak unfortunately the environment variables are already used by `development` and `production` and are only taken from `BABEL_ENV` (or `NODE_ENV` if not provided):

https://babeljs.io/docs/usage/babelrc/

Most apps use development/production, so there is no opportunity there. ..Maybe there is another flag I can detect in the function I can provide to the `ignore` option. ...Also, for

[2017-04-20 08:30] faceyspacey commented on #44
...my bad, the function is working. i had a typo in the path. ...i think i tried this a while back and couldn't find any clues that the code was running inside webpack, but I'll try again.

[2017-04-20 08:33] michalkvasnicak commented on #44
@faceyspacey yes and you didn't receive an Error because ignore can be `string` too, so if it isn't a valid path, then it is taking `ignore` as a string.

[2017-04-20 08:57] faceyspacey commented on #44
it actually doesn't look like there are any relevant environment variables I can use. Also, it won't be a solution anyone using webpack can use, as many people use webpack on the server as well. You can set environment variables if you run webpack from the commandline, but if you use the node api, I don't know of a way...

[2017-04-20 09:02] michalkvasnicak commented on #44
If you use node api then you can define env variable just like `process.env.IS_WEBPACK = true;` as first thing in your root script for example.

By the way, if you are using webpack then just don't use this plugin at all. Webpack has its own `css-loader`.

[2017-04-20 09:07] faceyspacey commented on #44
I'm actually working on a package that must work with both a webpack and a babel server, and I'm making a boilerplate example, so I'm trying to keep it as easy as possible.

That said, setting
[code]

on the server doesn't export the proper classNames to use in React components. In the past I've used `extract-text-webpack-plugin` to complete the job, but I don't want to use that as that has the ov

[2017-04-20 09:10] faceyspacey commented on #44
basically you need style-loader or extract-text-webpack-plugin after css-loader for the following to work:

[code]

[2017-04-20 09:10] michalkvasnicak commented on #44
You can achieve what you want using webpack too without using this plugin. I am using webpack for client side and server side bundles in separate and it works correctly. You can see configurations [here in my create-js-app repository](https://github.com/michalkvasnicak/create-js-app/tree/master/packages/js-app-plugin-universal-webpack/src/config) for `client` and `server`.

Class names are valid a

[2017-04-20 09:11] faceyspacey commented on #44
ah: `loader: 'css-loader/locals'`, !! nice. i'll try that.

[2017-04-20 09:15] faceyspacey commented on #44
...it worked like a charm for webpack!

[code]

...now i just need to figure out how to add it to the babelrc without affecting the client code, and without having to rewrite the babelrc in the webpack config with `babelrc: false` which is the complexity I'm trying to avoid in the example.

[2017-04-20 09:23] faceyspacey commented on #44
the problem with this:

is that the same environment variables will be used by the server code and the client code in *development*, i.e. when you generate the client code from the middleware running in the server code.

[2017-04-20 09:27] michalkvasnicak commented on #44
I think that `ignore` option will not help in this case. You really need to somehow remove `babel-plugin-css-modules-transfrom` from `.babelrc`. Maybe you can do simple babel plugin, which will works as an wrapper for this plugin. Something like:

[code]

Basically it would check if `process.env.IS_WEBPACK` is set and if it is so then it would require specified plugin. But you have to read how is

[2017-04-20 09:29] faceyspacey commented on #44
cool. I'll look into that. Thanks so much. I'm sure I'm taking up too much of your time. I'll let you know how things go...

[2017-04-20 09:31] michalkvasnicak commented on #44
@faceyspacey you are welcome. I hope that I helped. Just I don't think that this option should be a part of the configuration for this plugin. There is a solution, we just need to find it.

[2017-04-20 15:07] petejodo opened #45 "Doesn't work as expected when programmatically calling babel"
I'm making a custom build process that handles calling babel-core's `transform` itself for each file, each time with a custom `extractCss` property. This plugin looks like it's setting it's options only once instead of each time `babel.transform` is called so effectively the options passed to that call are actually irrelevant except for the 1st call.

Separately, there should be a way to print the

[2017-04-20 15:22] PeteJodo commented on #45
also the `post` function runs after each call to `babel.transform` so for each consecutive call, it will write all .css files processed up to that point

[2017-04-20 15:37] PeteJodo commented on #45
For anyone else with this issue, a temporary solution is to reset the plugin before each call so something like:

[code]

[2017-04-21 09:27] michalkvasnicak commented on #45
@PeteJodo Thank you! It is caused because:

1. this plugin can export css file so it has to somehow keep a track of compiled files
2. this plugin relies on `css-modules-require-hook` so basically options are passed to this hook.

This plugin was not intended to be used outside of babel-cli.

Yes because when you start babel-cli in normal or watch mode you don't have any way how to detect if compil

[2017-04-21 16:23] PeteJodo commented on #45
Hey thanks for answering.

Yeah I see the issue here. I'd need to do research myself about the differences between `babel.transform` and `babel-cli` so I can't really comment on that either.

It's not so much the config being passed to the require-hook that's the issue, it's the `extractCss` property which looks like the plugin's config and not a css-modules config. `extractCss` could be set in `p

[2017-05-02 15:36] PeteJodo commented on #45
@michalkvasnicak bumping specifically for this point...

Any errors caused by either `generateScopedName`, `preprocessCss`, and any other extension that is passed off to `css-modules-require-hook` gets caught in [that try/catch](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L39-L41).

[2017-05-02 15:55] PeteJodo commented on #45
Also about your response...

why doesn't

[2017-05-02 15:55] PeteJodo commented on #45
sorry, didn't mean to close.... pressed wrong button >.<

[2017-05-03 05:23] michalkvasnicak commented on #45
Ok so basically we need to detect if the error is from `ignoring` file or is normal error. I will take a look but I have free time only on weekend.

[2017-05-03 21:37] PeteJodo commented on #45
Looking at `css-modules-require-hook`, they have this [exception checker](https://github.com/css-modules/css-modules-require-hook/blob/master/lib/index.js#L151-L161) which gets passed into their `attachHook` method which gets used [here](https://github.com/css-modules/css-modules-require-hook/blob/master/lib/attachHook.js#L12).

It looks like by ignoring it, they assume they can just call the exis

[2017-05-09 18:58] PeteJodo commented on #45
I confirmed via your test suite that this is exactly what is happening. I'm going to open a PR on `css-modules-require-hook` and then once that's in, you can just throw all errors

[2017-05-09 19:20] PeteJodo commented on #45
actually the error may be intended... I started a discussion [here](https://github.com/css-modules/css-modules-require-hook/issues/43)

[2017-05-09 21:19] gregorskii opened #46 "Global/Local CSS imports"
Hi there,

I am having issues related to this PR in css-modules with this plugin:

https://github.com/css-modules/css-modules/pull/65

I cannot import global (non module) scss files into my css modules files. Per that ticket I solved my server rendering by using webpack loaders, before I was using this library and babel.

I would still like to use this plugin for unit tests that may need to inline

[2017-05-10 08:07] michalkvasnicak commented on #45
@PeteJodo maybe if we catch only the error with specific message and rethrow all other errors? But this solution is error prone by itself.

[2017-05-10 08:47] michalkvasnicak commented on #46
Could you create a minimal repository to reproduce your problem? I'm wondering if your `scssPreprocessor.js` throws an error or what is the result.

Have you tried this solution [postcss-import plugin](https://github.com/css-modules/css-modules/pull/65#issuecomment-188537742) from the PR you linked? You can use it by setting up `append` in your configuration for this plugin or check out [babel-plu

[2017-05-10 08:57] michalkvasnicak commented on #46
If you want only to have css class names inlined by using webpack, you can look at the configuration I'm using in my [create-js-app config for server side bundling](https://github.com/michalkvasnicak/create-js-app/blob/master/packages/js-app-plugin-universal-webpack/src/config/server/production.js). It compiles css modules without emitting files.

[2017-05-10 09:05] michalkvasnicak commented on #46
Other solution is, if you even need to inline css for your tests. If you can ignore them then just use `jest` and [set up mock file loader for css files](https://facebook.github.io/jest/docs/webpack.html).

[2017-05-10 17:20] gregorskii commented on #46
I am using it here:

https://github.com/gregorskii/redux-starter/blob/master/test/unit/spec/helpers/sassPreprocessor.js

I cannot use postCSS to compile it I believe, the issue is I have a mix of CSS Modules and non CSS modules. The only way to fix it in Webpack is to have different rules:

[code]

This include exclude process cannot be expressed by the config on this plugin, is that correct?

[2017-05-10 17:39] michalkvasnicak commented on #46
@gregorskii I'm sorry but it cannot be done this way using this plugin.

[2017-05-10 17:50] gregorskii commented on #46
Ok thanks, will use webpack with testing, I found [mocha-webpack](https://www.npmjs.com/package/mocha-webpack) is a good alternative to using something bigger like karma, if one is using Mocha.

Thank you for the aid @michalkvasnicak.

[2017-05-10 17:50] #46 closed

[2017-05-10 20:35] PeteJodo commented on #45
yeah I don't like that solution. Currently, the only thing you could do really is...
[code]
I'm going to propose having the require hook throw its own error so it's actually catch-able. That's technically a breaking change for them though (because someone else could be doing the same thing in the above code)

[2017-05-10 20:51] PeteJodo commented on #45
I just opened a new issue since I didn't get a response in the closed issue, https://github.com/css-modules/css-modules-require-hook/issues/92

[2017-05-17 20:53] SPAHI4 opened #47 "Extensions with dot support"
I have files with `.module.less` extension. But when I set `extensions` to this value, nothing happens. `.less` works.

[2017-05-17 21:24] #47 closed

[2017-05-29 17:10] lorenzomigliorero opened #50 "Infinite loop when use composes for extract class from external file"
Hi,
i have several problem when use composes from external file.
Try to explain the issue....

This is my configuration:

**_.babelrc_**
[code]

**_babel-scss.js_**

[code]
**_module.scss_**
[code]

_**_font-size.scss**_
[code]

This configuration generate an infinite loop:
[code]

- "babel-cli": "6.24.1",
- "babel-core": "6.24.1",
- "babel-loader": "7.0.0",
- "babel-plugin-css-modules-transform":

[2017-06-01 12:27] michalkvasnicak commented on #50
@lorenzomigliorero this should be caused by this plugin because we are using `css-modules-require-hook` under the hood. Could you please create a minimum repository to reproduce this problem?

Sorry for late response, I'm quite busy these days.

[2017-06-07 06:23] danny-andrews opened #51 "Why is this plugin "intended only for backend compilation"?"
In the docs, it says that this plugin "is intended only for backend compilation," but I see no reason why it can't be used for frontend compilation as well.

p.s. Sorry for asking a question in a GitHub issue (I know that's bad form). However, I believe it is an actual issue with the docs.

[2017-06-07 07:53] michalkvasnicak commented on #51
@danny-andrews It means the plugin isn't optimized to be used as frontend tool (e.g. watching your source code like webpack does and compiling on change in css files). Of course you can use it for front end compilation for example building your app for production (single pass build).

However I see your point and if this is causing a confusion then I should edit the docs :) So thank you 👍

[2017-06-07 20:57] danny-andrews commented on #51
Yeah, the note just made me think there was some reason it couldn't be used for front-end builds at all (because it injected some node runtime-dependent code or something). But I'm using it to transform css-module imports in my React app and its working like a dream. Just didn't want potential users to be dissuaded unnecessarily. ;P

[2017-06-26 02:09] TroutZen opened #52 "postCSS usage + autoprefixer plugin"
Hi,
Thanks for the great plugin. I am wondering however, how I can configure to use postcss and the autoprefixer plugin.

[2017-06-27 11:24] michalkvasnicak commented on #52
@TroutZen you can take a look on https://github.com/css-modules/css-modules-require-hook#adding-custom-postcss-plugins we have similar configuration option for babel plugin.

[2017-06-27 11:26] michalkvasnicak commented on #52
@TroutZen it uses `postcss` under the hood. Just provide plugins you want to use based on documentation mentioted above.

[2017-06-27 11:27] michalkvasnicak commented on #52
@TroutZen also see configuration in https://github.com/michalkvasnicak/babel-plugin-css-modules-transform#installation so you can check how should `prepend` option look :)

[2017-06-27 15:11] TroutZen commented on #52
Ah - this is very useful @michalkvasnicak - thanks for the help.

[2017-06-27 15:25] #52 closed

[2017-06-27 15:56] TroutZen commented on #52
My working config for any other lost souls...

[code]

[2017-06-27 16:42] michalkvasnicak commented on #52
@TroutZen greate! 👍  Thank you 😉

[2017-07-10 22:08] lfender6445 opened #53 "extractCss wipes out css file"
[code]

when I run my build command I am noticing the file `node_modules/flexboxgrid/dist/flexboxgrid.css` is mutated into an empty file - is there a way to build using this plugin in a way that is destructive?

[2017-07-16 09:50] michalkvasnicak commented on #53
I'm sorry for the late response, not much free time these days.

What should be an expected outcome? Appending to the file? If appending to a file, there is no way to know if you are updating existing declarations or not so every build is going to rewrite the file.

[2017-08-03 06:23] 3upzorz opened #54 "importing from node_modules '~' path"
using `@import '~my-module/css/file'` gives me an error on the server side but works fine on my frontend with webpack.

error:

Error: File to import not found or unreadable: ~@my-module/css/file.

When I switch to `@import './node_modules/my-module/css/file'` it works fine.

[2017-08-03 07:26] michalkvasnicak commented on #54
@3upzorz yeah, it is because webpack is managing imports itself so it can resolve `~` but in babel can't. Maybe there is a way how to configure `css-modules-require-hook` to do so but I'm not sure.

[2017-08-03 07:29] michalkvasnicak commented on #54
If `my-module` is module installed by `npm/yarn` so it is in `package.json` and `node_modules` then I think `@import 'my-module/css/file';` should work.

[2017-08-05 03:37] petermikitsh opened #55 "Sometimes crashes"
Changing nothing, sometimes this transform causes an exception to be thrown.

Successful run:

[code]

Failure:

[code]

[2017-08-05 03:39] petermikitsh commented on #55
I've observed if I edit my .babelrc file, e.g., change:

[code]

to

[code]

The first run will succeed, but all subsequent runs will fail.

[2017-08-05 03:41] petermikitsh commented on #55
My build script uses `babel-register`.

Changing this:

[code]

to this:

[code]

Solves my problem. 🤔

[2017-08-05 09:12] michalkvasnicak commented on #55
Maybe if you clean up a babel cache it will solve the problem too. Probably it is somehow caching the code compiled using incorrect settings.

[2017-08-05 12:35] #54 closed

[2017-08-05 12:35] #53 closed

[2017-08-05 12:36] #50 closed

[2017-08-06 10:57] #43 closed

[2017-08-08 09:59] edwardfhsiao commented on #44
I'm using the following method, which I think is nice and clean, just change the 'BABEL_ENV' environment variable, and setup rules in .babelrc. The official documentation is here http://babeljs.io/docs/usage/babelrc/#env-option

run with
[code]
[code]

[2017-08-24 22:27] danny-andrews commented on #52
How are you doing `require`s in .babelrc? It's a JSON5 file.

[2017-08-24 22:34] danny-andrews opened #56 "Use cmhr.js (if exists)"
It'd be nice if you could configure css-modules-require-hook via the [cmrh.js config file](https://github.com/css-modules/css-modules-require-hook#using-with-babel-node--es6-imports). I have a use-case where I need to use a postCSS plugin with options set:
postcss.config.js:
[code]

.babelrc
[code]
I can't do ` "prepend": [require('postcss-custom-properties')({ variables })]` because .babelrc isn'

[2017-08-24 22:36] danny-andrews commented on #56
This would allow you to do a lot more transformations inline, rather than having to write a file which outputs a function for every option you want to use.

[2017-08-25 08:02] michalkvasnicak commented on #56
Hello, just create `my-dynamic-plugin.js` somewhere in your project with the code:

[code]

And then change `prepend` in your `.babelrc` file to `./my-dynamic-plugin.js` (if the plugin file is in the same directory level as `.babelrc` file.

[2017-08-25 14:55] danny-andrews commented on #56
That works. Thanks!

[2017-08-25 14:55] #56 closed

[2017-09-01 19:29] danny-andrews commented on #51
I don't think this is a big deal, actually. I went back to pre-compiling my frontend stuff with webpack and only using this for SSR. Sorry for the noise!

[2017-09-01 19:29] #51 closed

[2017-09-08 05:06] jvenki opened #57 "Using this plugin for Library with extractCSS option"
I am creating a library and each component will import its respective CSS which needs to be CSS-Modularized.

I am also using the following config in .babelrc

[code]

After running babel-cli, I see that the CSS files are having scoped names and the JS file also has the mapping between **original name** to **scoped name**. However, the generated JS doesnt have the import anymore to the processed C

[2017-09-08 06:10] michalkvasnicak commented on #57
Hello, this library is intended to be used in projects that are importing css for server side render. That means that imports/requires will be replaces by objects where keys are a css class names. If you're not using webpack to compile client side JS (webpack will automatically do the same as this plugin but it will append css files to assets, so it can automatically link them for you).

What you

[2017-09-20 20:19] coreyleelarson commented on #54
@michalkvasnicak I am also getting this same error, but importing mine how you suggested. Everything is working just fine, but I'm getting the error during server compilation.

[2017-09-21 07:51] michalkvasnicak commented on #54
@coreyleelarson what error are you getting?

[2017-09-27 13:48] MatthiasBrandt opened #58 "Generating empty css file"
Plugin is generating an empty css file:

This is my configuration:

[code]

I went through the source and my **requires** do get picked up and get transformed but it seems to fail here:

[code]
Any idea what could be causing this?

[2017-09-27 15:59] michalkvasnicak commented on #58
@MatthiasBrandt could you create a simple project you can share to reproduce this error?

[2017-10-03 09:04] FezVrasta opened #59 "Example with PostCSS?"
Hi, this plugin is really awesome and I'd love to use it to bundle a library.

The problem is that I don't seem to understand how to make this work with PostCSS? PostCSS by default has a promise based API. How can it work with `preprocessCss` option?

Also, is the async limitation just because you didn't have time to implement it or is it an actual limitation of the technology you used to create t

[2017-10-03 10:52] michalkvasnicak commented on #59
Hello,

this plugin is only wrapper around [css-modules-require-hook](https://github.com/css-modules/css-modules-require-hook) that's why it can't use async, because it is used in runtime (during `require`call).

There is another plugin [babel-plugin-transform-postcss](https://github.com/wbyoung/babel-plugin-transform-postcss), please take a look if it solves your problem :)

[2017-10-03 10:54] FezVrasta commented on #59
Hi, thanks for the answer. I tried the one you suggest but it doesn't seem to support extraction of the generated CSS so it's quite useless...

[2017-10-03 10:56] michalkvasnicak commented on #59
Yes I see, it is recommended to use postcss-cli to extract styles, using the same config.

Unfortunately my plugin can't do the work with async plugins because of `require` hook limitation.

[2017-10-03 10:58] FezVrasta commented on #59
I see, the problem is that transform-postcss suggests to use postcss-cli, but doesn't explain how the hell am I supposed to make the generated class names match... 😩

I already opened an issue in its repo...
https://github.com/wbyoung/babel-plugin-transform-postcss/issues/60

[2017-10-03 11:01] FezVrasta commented on #59
Anyway, may you provide an example to use yours with PostCSS without any async plugin? I think it may be enough for my use case.

[2017-10-03 11:08] michalkvasnicak commented on #59
PostCSS is already supported, you just need to configure your plugins. You can follow the documentation for `css-modules-require-hook` (for example [Adding custom PostCSS plugins to css-modules-require-hook](https://github.com/css-modules/css-modules-require-hook#adding-custom-postcss-plugins)). The only thing you have to do, is to configure it like so:

1. create a file `prependPostcssPlugin.js`

[2017-10-03 11:09] michalkvasnicak commented on #59
See whole [available configuration](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform#installation).

[2017-10-03 11:10] FezVrasta commented on #59
Thank you!

[2017-10-03 11:10] #59 closed

[2017-10-21 08:30] CrocoDillon opened #60 "`import './global.css'` does not work"
Hello, I have ~~two~~ one issue.

First issue is while all these work...

[code]

...this one doesn't work:

[code]

It just gives the following error:

You may need an appropriate loader to handle this file type.

~~Second issue might not be related to this project but is confusing the hell out of me. In `global.css` I tried the following selectors to get some custom properties in:~~

[code]

~~B

[2017-10-21 09:34] CrocoDillon commented on #60
Actually it seems like there are more issues with the `import` syntax. `import`s in nested components didn't end up in the bundle, `require` seems to work fine.

Hopefully the last one, `@import '../colors.css'` from within `global.css` (where I defined custom properties now) does not work.

[2017-10-27 02:48] songlang1994 opened #61 "Could this plugin work with babel-plugin-module-resolver?"
Hi, I have a issue here. And this is my case.

.babelrc file

[code]

source file

[code]

I ran babel compile the source code and I got an empty `css` object in compiled file
[code]

But if I change the source code to
[code]

Then I got the correct `css` object in compiled file
[code]

Is there any way to make this plugin work with `babel-plugin-module-resolver`? Thank you.

[2017-11-01 14:18] olegkleiman opened #62 "Use plugin from webpack"
I'm using this plugin from webpack and just wonder why you do not intended to use it on client side at all? What are possible implications of such use?

[2017-11-02 02:58] songlang1994 commented on #62
I think it's better to use [css-loader](https://github.com/webpack-contrib/css-loader) in webpack.

[2017-11-02 12:17] Skrpk opened #63 "Prop `className` did not match."
Warning: Prop `className` did not match. Server: "Header__selected___3IRlm" Client: "Header__selected__3IRlm"

All classNames, rendered on the server has 3 undersores, but classNames, rendered on the client has 2.

[2017-11-02 12:56] michalkvasnicak commented on #63
This is not a problem in this plugin, you should check you configuration if you have the same `className` formats for client and server side.

Maybe paste here your configurations.

[2017-11-02 12:57] michalkvasnicak commented on #62
@olegkleiman I was using this plugin in the case when the server side code was not compiled using webpack. Otherwise I just use webpack + css-loader both for client and server side.

[2017-11-02 12:57] #62 closed

[2017-11-04 06:02] songlang1994 commented on #61
I found a way to use webpack for server side. Maybe I don't need this plugin any more.

[2017-11-04 06:02] #61 closed

[2017-11-07 13:28] taqimustafa commented on #58
@michalkvasnicak I am facing the same issue. This package doesn't seems to be updating the bundle.css file. Anyway to rebuild the file ?

[2017-11-07 14:24] jsveron23 commented on #58
@michalkvasnicak It seems this plugin couldn't parse 'babel-plugin-module-resolver' alias. After I changed module name with relative path from module alias name, it works well.

[2017-11-09 11:37] michalkvasnicak commented on #58
Yes this package doesn't support aliases because of the order the babel plugins are executed. Maybe there is a way how to somehow resolve this after `babel-plugin-module-resolver` does its job but I don't have time to investigate this. But I'm happy to accept the PR for this.

[2017-11-12 19:48] parris opened #66 "Scss for loops prevent class name exports"
As I've seen, scss for loops completely prevent any classes from getting exported.

I know this isn't babel-plugin-**scss**-modules-transform, but I'm wondering if anyone has encountered this and if there is solution.

I ended up removing the for loop and explicitly defining every class. I also tried to define all the class names but still having the for loop. Neither of those things work. As soon

[2017-11-15 02:06] nikogu opened #67 "when less file has function, the styles props will be {}"
version: 1.2.7

[code]

=> babel css modules transform
[code]

if remove `clearfix` will transform ok.

[2017-11-15 06:35] chauncey123 opened #68 "user less @import something error"
{ [Error: '../style/Theme.less' wasn't found. Tried - ../style/Theme.less,../style/Theme.less]
  type: 'File',
  filename: 'input',
  index: 0,
  line: 1,
  callLine: NaN,
  callExtract: undefined,
  column: 0,
  extract: [ undefined, '@import "../style/Theme.less";', '' ],
  message: '\'../style/Theme.less\' wasn\'t found. Tried - ../style/Theme.less,../style/Theme.less',
  stack: undefined }

 /

[2017-11-15 08:13] michalkvasnicak commented on #68
`../style/Theme.less` was not found. If it exists, please look to documentation of `less` library because this doesn't have anything to do with this plugin.

[2017-11-15 08:13] #68 closed

[2017-11-15 08:22] michalkvasnicak commented on #67
@nikogu during the compilation of your less files, there has to be an error occurring which is then digested by `babel-plugin-css-modules-transform` and uses an empty object as the fallback for this situation.

[2017-11-15 08:27] michalkvasnicak commented on #63
Closing this as there is not activity and it seems just to be misconfigured.

[2017-11-15 08:27] #63 closed

[2017-11-15 08:32] michalkvasnicak commented on #60
@CrocoDillon this is probably a problem with postcss and not this plugin. This is just a wrapper around `css-modules-require-hook`. Related PR is merged so does it resolve this issue?

[2017-11-15 08:39] #58 closed

[2017-11-15 09:45] nikogu commented on #67
But i am sure there is not error occurred, because i use simplest example to test it, the conclusion is that if there has a `less function`, the style must be `{}`. 😿

the code like: https://github.com/ant-design/ant-design-pro/commit/debfa5086b7a72f0a370ba82a3e98c67593af02a#diff-84162f6630a352a5f685bc3247617279L3

[2017-11-15 10:01] michalkvasnicak commented on #67
I'm sorry I don't use `less` at all. This plugin is only wrapper around `css-modules-require-hook` only thing that can affect processing is what you define in configuration. So maybe `less` should be configured in different way. Could you provide the configuration for `babel-plugin-css-modules-transform` you are using in your project?

[2017-11-16 03:38] nikogu commented on #67
ok, i check the code first and find a way, i will push a pr. thanks 😃

[2017-11-16 03:38] #67 closed

[2017-11-18 22:50] rbalmf commented on #61
I'm having this exact same issue myself and don't want to resort to webpack.  Would be great if there is a way...

[2017-11-23 10:50] amaurymartiny opened #69 "Keep the require('./styles.css') in the JS file"
Right now this plugin transforms
[code]

into
[code]

I also configured the extractCss option to put the CSS output file right next to the babelified JS output file of each component. However, would it be possible to append a `require('./MyComponent.css)` at the beginning of the output JS? I.e. to something like:
[code]

[2017-11-23 11:04] amaurymartiny commented on #69
Ha, just saw the PR #65

[2017-11-26 14:00] michalkvasnicak commented on #69
@amaurymartiny released as `1.3.0`. Just use `keepImport: true`.

[2017-11-26 14:00] #69 closed

[2017-12-01 16:47] pixelass opened #71 "Cannot read property 'keepImport' of undefined"
happens when:
[code]

vs.

[code]

[code]

[2017-12-01 18:45] michalkvasnicak commented on #71
What version of `babel` are you using? This is strange, because there is a test for this option and it's passing.

[2017-12-01 18:46] pixelass commented on #71
[code]

[2017-12-01 18:48] pixelass commented on #71
I am also using env and react as presets

[code]

[2017-12-01 18:52] michalkvasnicak commented on #71
Yes I found a bug, give me a moment.

[2017-12-01 19:00] michalkvasnicak commented on #71
Please try 1.3.1.

[2017-12-01 19:07] pixelass commented on #71
Success 👍

Works like a charm. Thx for the great work.

[2017-12-01 19:07] michalkvasnicak commented on #71
You are welcome 🙂

[2017-12-01 19:07] #71 closed

[2017-12-20 02:29] kovenliao opened #72 "babel 7 support"
I am using babel7.0.0-beta.34 but got below error

`Module build failed: TypeError: Invalid attempt to destructure non-iterable instance`

The error was throw from this line
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src/index.js#L103
[code]

The `options.plugins` object was changed in Babel7, can we consider fix it like this?
https://github.com/michalkvasnic

[2017-12-31 02:52] louisgjohnson commented on #72
yes please ^^

[2017-12-31 07:23] kovenliao commented on #72
please review
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/pull/73/files

[2018-01-01 20:26] grundiss opened #74 "Import CSS from node_modules doesn't work"
Hi!
I'm trying to use plugin-css-modules-transform@1.3.1 with react-fa@5.0.0, and it doesn't seem to work as expected as I keep getting error:
[code]

Here's my .babelrc
[code]

What do I do wrong? I'd really appreciate some help here.
You can clone my repo https://github.com/grundiss/lilenko_ru to take I look into a full code base (`yarn install && yarn build-server && yarn start-watch`).

[2018-01-01 23:02] #74 closed

[2018-01-05 21:26] saiichihashimoto commented on #72
This package is my one blocker to using babel 7 and #73 fixes it. Any ETA on when it will be reviewed?

[2018-01-06 11:19] #72 closed

[2018-01-06 11:37] michalkvasnicak commented on #72
Thank you very much, released in 1.4.0. Sorry that it took so long, holidays in Slovakia.

[2018-01-22 12:07] pascalduez opened #76 "Add support for the `resolve` option"
Hi,

recent versions of `css-modules-require-hook` changed  the [resolving mechanism](https://github.com/css-modules/css-modules-require-hook/releases) on the same semver range, and as a consequence most of our unit test broke...

Apparently the [`resolve`](https://github.com/css-modules/css-modules-require-hook#resolve-object) option was introduced to be able to address this, but is not yet suppo

[2018-01-30 17:23] chacbumbum opened #77 "Dynamic mode?"
I want change **mode: "local/global"** by extensions or some files loaded in global mode./

How do I configure?

[2018-02-13 04:12] adambrenecki opened #78 "When using `keepImport`, ES2015 imports are changed into require() calls"
Hi!

First, thanks for making/working on this plugin, it's super useful!

If I have something like the following in `Navigation.js`:

[code]

The output ends up looking like this:

[code]

IMO the first line should be `import "./Navigation.css"`, to match the import style used in the original file.

I've configured Babel to not transform imports, and all of my other imports remain in ES2015 import

[2018-02-13 07:31] michalkvasnicak commented on #78
Hello,

yes it is caused by this plugin because it doesn't have anything to do with `modules` settings in `babel-preset-env` or similar.

But I think that in case of css files it does not matter if it is an import or a require call. Does it cause some problems in your project?

[2018-02-13 07:32] michalkvasnicak commented on #77
Hello, I don't know of any way how to do it. I think you will have to stick to `:global` or `:local` modifiers.

[2018-02-13 07:35] michalkvasnicak commented on #76
Hello, sorry for late response, I don't much free time these days. Maybe I will get some free time on weekend but no promises. PR is welcome :)

[2018-02-13 07:36] #60 closed

[2018-02-13 07:36] #66 closed

[2018-02-13 07:37] #57 closed

[2018-02-13 07:37] #55 closed

[2018-02-14 06:21] rmsheppard opened #79 "reload"
I have this set up and working in my project.  However, it only is able to execute on initial compile.  Is there any way to run this upon hot module reload?

[2018-02-20 23:39] adambrenecki commented on #78
None for me personally, because currently all the downstream projects for the library I'm building use Webpack, which supports `require()` calls natively.

But as I understand it Rollup doesn't, so I _think_ this would cause problems if this output was then used with Rollup which was configured with a CSS plugin but not also a `require()` plugin? I'm not sure how common that case is though.

[2018-02-24 15:15] amerllica opened #80 "Importing from partial sass files is ignored in ssr"
Actullay this plugin is awesome, but if `className`s exist in partial sass file, all of them know as `undefined`

react component example;

    import styles from 'SrcRoot/style.scss';
    export const Head = () => {
        return (<div className={styles.wrapper}>example</div>);
    }

Main sass file:

     @import "./partials/_head.scss

Partial sass file:

    .wrapper { color: red }

Exported

[2018-02-25 08:30] amerllica commented on #80
@michalkvasnicak , @top1st , please read my issue and guide me. thanks.

[2018-02-25 14:41] pascalduez commented on #80
Hi,

a couple of tracks to research:

- postcss-plugin-import is async, while css-modules-require-hook is sync.
- css-modules-require-hook >= 4.0.6 changed the resolving mechanism, breaking quite some stuff along the way...

[2018-02-25 14:47] pascalduez commented on #80
@amerllica I quickly looked at your sample repo, why don't you use Webpack for compiling the server-side as well? That would solve your issue and simplify a bit your build.

[2018-02-26 08:00] amerllica commented on #80
Hi dear @pascalduez , thanks a lot for your quick answer, I've searched about it and have found using `webpack` has two ways:

**1st:** using `babel-plugin-webpack-loaders` and in `.babelrc` file set the path of `webpack.server.js`, the `webpack.server.js` is a separated webpack config file for server side config of webpack ( I've used it before knowing `babel-plugin-css-modules-transform` but may

[2018-02-27 11:47] a-x- commented on #59
More accurate working example:
**.babelrc**
[code]

**prepend-postcss-plugins.js**:
[code]

[2018-02-27 11:49] a-x- commented on #59
But it don't allow pass options to postcss. Like `map: 'inline'`

[2018-02-27 18:24] a-x- commented on #59
css-modules-transform + postcss + generateScopedName **does not work** as expecting :(

input:
**a.css**:
[code]
output:
**a.css**:
[code]

[2018-02-27 18:24] a-x- opened #82 "css-modules-transform + postcss + generateScopedName does not work as expecting"
input:
**a.css**:
[code]
output:
**a.css**:
[code]

[2018-02-27 18:25] a-x- commented on #82
my config: https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/issues/59#issuecomment-368848287

[2018-03-01 13:14] michalkvasnicak commented on #80
@amerllica if you are using webpack, then you don't need this plugin at all, you only need `css-loader` and `extract-text-webpack-plugin`.

[2018-03-01 13:15] michalkvasnicak commented on #80
@amerllica here is an example how would your webpack config look like https://github.com/michalkvasnicak/spust/blob/master/packages/spust/src/helpers/createWebpackLoaders.js

[2018-03-01 13:22] michalkvasnicak commented on #79
@rmsheppard try to set `devMode` to `true` it should disable cache.

[2018-03-01 13:23] michalkvasnicak commented on #82
@a-x- have you resolved the issue using `processorOpts`?

[2018-03-01 13:26] michalkvasnicak commented on #78
I don't know, unless there is a real issue in this matter there is nothing to solve :) but I think that if rollup will be configured to resolve `require` calls, everything will be okay.

[2018-03-01 13:26] michalkvasnicak commented on #78
Closing for now as this not really issue if you are users are using webpack.

[2018-03-01 13:26] #78 closed

[2018-03-02 16:52] Saravanakumar46 commented on #15
@michalkvasnicak  , Hai ..  Am getting the same error where Kannaj was mentioned in his second comment . My Error is  : babel-core is trying to parse my css .. am doing server side rendering .. as u said i was compiling only Server not client that's why am facing this error . . here my question is how can i set client compilation . This is my Start command is package.json ---> "babel-node src/js/s

[2018-03-02 16:54] Saravanakumar46 commented on #15
This is my Folder Structure -->-                                                                                                                  App
 -Js
   - /server
   - /client

[2018-03-23 22:38] a-x- commented on #82
I canceled trying

I created new babel plugin [babel-plugin-transform-import-css](https://www.npmjs.com/package/babel-plugin-transform-import-css) for bundling css-modues to js [eventually](https://gist.github.com/a-x-/c81cc1391fce44c39434e609a0be9549)

[2018-04-03 10:04] Krasnopir commented on #80
Hello I use postcss with sugarss parser (.sss files) in project
and server build without webpack have
`      "plugins": [
        ...
        [
          "css-modules-transform", {
            "generateScopedName": "[name]__[local]--[hash:base64:5]",
            "preprocessCss": "./postcss.parse.js",
            "extensions": [".css", ".sss"]
          }
        ]
`
and postcss.parse.js :
`
const

[2018-04-05 01:07] danoc opened #83 "`keepImport` is incorrect when `extractCss` is used"
Hello! I'm using `preprocessCss` and `extractCss` to convert a SCSS file to CSS then store it in my library's `dist` folder. I also use `keepImport`.

The import in the JS file points to the SCSS file. Unfortunately, it seems that there is no way to convert the generated `require` to point to the compiled CSS that `extractCss` copied to the `dist`.

Is this something worth adding to the plugin? If

[2018-04-09 06:46] xile611 opened #84 "Some local test cases fail"
@michalkvasnicak I want to submit a PR which support to change the path of css file when `keepImport` is true. But some local test cases fail which don't have any relation to my changes.
Can you have a look at?

[code]

[code]

[2018-05-01 19:49] kentandersen commented on #83
👍 I would like love this feature to :)

[2018-05-07 19:10] brasslaguna opened #86 ""in" operator fails upon use of "resolve" option"
Hey @michalkvasnicak. It seems an error is thrown in options_resolvers/resolve.js because the prop is not a string preceding the "in" operator:

[code]
Props are "alias", "extensions", "modules", "mainFile", and "preserveSymlinks"

[2018-05-08 07:45] #86 closed

[2018-05-08 07:47] #76 closed

[2018-05-16 05:40] cainiaokan opened #88 "transform with less"
The option `preprocessCss` only accepts a synchronized method which takes the input and synchronously generate an output. However, less compiler doesn't have a synchronized method, its render method returns a promise object instead. So embarrassed...

[2018-05-16 07:33] #88 closed

[2018-05-29 09:52] graingert opened #89 "implicitly registeres node hook"
currently babel-plugin-css-modules-transform implicitly registers a css hook, this can cause stange interactions when using babel-register.

I've go a PR to enable using the require-hook machinery on its own: https://github.com/css-modules/css-modules-require-hook/pull/117

[2018-05-29 09:55] graingert commented on #89
you can use it with:

[code]

[2018-05-30 11:44] kentandersen opened #90 "import without assign are not processed"
When importing files _without_ assignment `'./styles.css'`, `importPathFormatter` is not executed and the import path is not changed.

When importing _with_ assignment `import styles from './styles.css'`, `importPathFormatter` is called as expected.

-----------

index.js
[code]

style.css
[code]

Babel config
[code]

[2018-05-31 14:14] hualu00 opened #91 "import named className doesn't work"
Bellowing doesn't work:
[code]
However this works:
[code]

[2018-07-18 11:40] benedfit commented on #79
I'm not entirely sure the caching functionality is working as expected. Subsequent executions seem to result in the output of `extractCss` being a blank file when no changes are found. The way I have currently got around this is to prepend `BABEL_DISABLE_CACHE=1` to the start of my executing script

[2018-07-25 20:48] kevinehosford opened #92 "Empty styles"
This plugin seems like the tool I need, but the output always seems to be empty.

[code]

Could this be an issue with the `.babelrc`?
[code]

[2018-08-14 23:48] PRossetti opened #93 "Unable to require/import images when using this plugin"
I use this plugin for ignoring css, scss and svg require / import.

I have this in my src/server/index.js:

[code]

The problem is when in one of my isomorphic react components I try something like this:
const logo = require('./logo.svg');

This  immediately breaks my server when I run it with node or nodemon (nodemon src/server/index.js) with **this error**:

I need this plugin for ignoring those

[2018-09-18 15:40] andismith commented on #92
Not sure if this is the same problem as you have, but I had this problem when I turned on `--inspect` in Node.js and had a debugger window open. The Node application wouldn't end properly reporting `Waiting for the debugger to disconnect...`.

The `extractCss` output wasn't generated as it was waiting for the debugger to close, and force closing the app didn't generate the CSS.

[2018-09-23 10:36] b-ponomarenko opened #94 "babel-plugin-css-modules-transform and css-loader create different class names"
I have repo (https://github.com/b-ponomarenko/react-boilerplate) where I try to compile css on server using babel-plugin-css-modules-transform (I have the same `generateScopedName` setting) and I note, that when I run compiling process separately on client and on server I have different hash names, example:
for:
[code]
server: `{ foo: ‘Foo__foo__-Pwji’ }`
client: `{foo: "Foo__foo__1ZdkW"}`

When I

[2018-09-23 14:50] #94 closed

[2018-09-24 15:38] kevinehosford commented on #92
Hm. I wasn't using `--inspect`, just not seeing any generated output.

[2018-10-18 04:09] petermikitsh commented on #79
I've set `devMode` to `true` and have `extractCss` specified. I'm running babel with the `--watch` flag, but my extractCss file doesn't update.

[2018-12-04 00:08] nkbt opened #97 "Using Node's require to resolve file path does not resolve correct library from node_modules"
This issue is quite tricky to even report and I understand if you just close it as "cannot reproduce". I even thought about not opening this issue as it is quite hard to explain. But it may be somewhat helpful for others, so I will do my best to explain the problem.

The issue is in this function `requireCssFile`
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/blob/master/src

[2018-12-07 12:26] CPatchane commented on #83
Hello! I get into this issue so it could be great to have this handling automatically 👍
But, waiting that, I find a not documented option named `importPathFormatter` in the code which allows to custom the require path here. Here is the usage :

[code]

[code]

In

[code]

Out

[code]

@michalkvasnicak Is this just a missing documentation or this option should not be used for a reason? I could make

[2018-12-22 20:22] glebfeklistov opened #99 "babel-plugin-css-modules-transform and css-loader create different class names"
In ssr module:
[code]

in webpack config:
[code]

output from ssr class name:
_3P6Q-BetHcqJ-0bqToVM2U-intro
output from webpack class name:
DNgallyUyucYR3J-Bkjsb-intro

How to fix it?

[2019-01-03 23:51] GreenGremlin opened #100 "Relative urls are not resolved in extracted css"
Given the following config:

[code]

And the  following css:

[code]

I would expect output to contain relative urls, resolved to the output directory:

[code]

But I get this:

[code]

Is there something I'm missing?

[2019-03-20 19:18] yurigodke commented on #91
I resolved this problem, but I couldn't push my branch to create a Pull Request @michalkvasnicak

[2019-03-21 07:51] michalkvasnicak commented on #91
@yurigodke just create a fork of this repository and push your branch to it, then create a pull request 🙂

[2019-04-03 19:31] VadimZvf opened #103 "dont work for css-loader@^2"
classNames dont match with css-loader@2.0.0 or above
with css-loader@1.0.1 all fine

[2019-04-14 20:23] neilsutcliffe commented on #79
It's been a while since the last post, but I've got the same issue, and I think I might have an idea. I'm using module.scss files btw, but it should be the same.

The reason that webpack watch doesn't get re-triggered seems to be that webpack doesn't know about the scss file. Babel effectively strips out the scss file and replaces it with the inline class references, and webpack doesn't even parse

[2019-05-21 20:07] samsch opened #104 "preprocessor errors and missing files are swallowed"
Reproduction repo: https://github.com/samsch/css-modules-transform-scss-no-error

Preprocessor errors are swallowed and ignored. Specifically, [errors thrown](https://github.com/samsch/css-modules-transform-scss-no-error/blob/master/config/preprocessScss.js#L13) from the function exported from the `preprocessCss` [option file](https://github.com/samsch/css-modules-transform-scss-no-error/blob/mast

[2019-06-07 04:33] Ateiri commented on #99
I pretty sure that answer is outdated, but please, specify `rootDir` to your front root directory.
For example:
[code]

[2019-06-07 07:42] glebfeklistov commented on #99
![facepalm-head](https://user-images.githubusercontent.com/5002394/59088706-e9698700-8910-11e9-8a3a-62b3170f016c.jpg)
![facepalm_picard_600x600](https://user-images.githubusercontent.com/5002394/59088707-ea9ab400-8910-11e9-8cde-6dfe6aad67d7.jpg)

Thank's!!!

[2019-06-07 07:42] #99 closed

[2019-06-07 07:53] Ateiri commented on #99
@glebfeklistov Take a look to my public repo, I recently merged approach with monorepository by using yarn workspaces, eslint, babel, webpack.
https://github.com/Ateiri/personal-diary
I spent quite a lot of time on it, so maybe it will save you some time.

[2019-06-25 07:33] edwardfxiao commented on #94
@b-ponomarenko what fix this?

[2019-06-25 11:13] jjuutila commented on #92
With the setup we have, I noticed that  `//` styled comments in SCSS files will somehow break the plugin and cause an empty `styles` object.

[2019-08-18 17:43] adrianani opened #105 "Rebuild extracted CSS file on original css file change (using parceljs instead of webpack)"
[Repo for reproduction](https://github.com/Portocala/pufflix)

When I start parcel for the first time using `npm run start` everything works, css classes are rewritten, the `all.css` file is being built.
The problem is that `all.css` doesn't rebuild when there are changes to `style.css`, but I've observed that `all.css` is rebuilt if a `react` file (like `init.js` or `SideMenu.jsx`) is modified.

[2019-08-24 06:10] MaheshSinghSawant commented on #94
im facing the same issue. @b-ponomarenko how did you resolve this?

[2019-08-26 01:56] edwardfxiao commented on #94
@MaheshSinghSawant Take a look at my solution https://github.com/webpack-contrib/css-loader/issues/877#issuecomment-514461524

[2019-10-06 11:14] simhox opened #106 "using babel-plugin-css-modules-transform with ssr not working"
hi im using ssr and want to use babel-plugin-cs-modules transform to display my css
my code is :
webpackconfig.js:
[code]

babelrc:
[code]

app.css:
`div {
    background-color:#99cc00;
    padding:10px;
}
`
App.js:
`require('./src/styles/app.css');
`
css loader version is :

`"css-loader": "^2.0.2",`

babel-plugin-css-modules-transform version is :
`"babel-plugin-css-modules-transform": "^1.6.2",

[2020-03-20 17:39] createthis opened #109 "minimist vulnerability in 1.6.2"
npm advisory: https://www.npmjs.com/advisories/1179

`npm list` output:
<img width="535" alt="Screen Shot 2020-03-20 at 1 37 04 PM" src="https://user-images.githubusercontent.com/1695880/77190687-1528b880-6ab0-11ea-90a1-c065af1b7d55.png">
<img width="542" alt="Screen Shot 2020-03-20 at 1 36 53 PM" src="https://user-images.githubusercontent.com/1695880/77190708-1eb22080-6ab0-11ea-837d-651fc4141ad6.

[2020-03-24 17:42] createthis commented on #109
@michalkvasnicak ^

[2020-04-16 00:25] birdofpreyru opened #110 "Problems on Windows machines"
Because of https://github.com/css-modules/css-modules-require-hook/issues/119, `babel-plugin-css-modules-transform` does not work on Windows machines either (generates hashes different from those generated by `css-loader`). Part of the problem is that owner of `css-modules-require-hook` is not responsive (the issue and correct fix are pending for one year there). So, I am considering to fork and f

[2020-04-17 05:49] michalkvasnicak commented on #110
@birdofpreyru Hello I'm sorry I wasn't really invest my time into this package. I want to rewrite it to typescript and with babel 7 support only. I don't see any problem in supporting your library. Feel free to open PR for 1.x version to use your package.

[2020-04-17 17:10] birdofpreyru commented on #110
Nevermind, I figured out I better fork your lib and give it a full revamp in my taste. If anybody needs it, I published my version here: https://www.npmjs.com/package/@dr.pogodin/babel-plugin-css-modules-transform

[2020-04-17 17:10] #110 closed, assigned to nobody

[2020-07-18 00:37] nross83 commented on #88
I ran into this as well and decided to just use `lessc` manually. Here's what I did:
[code]

Leaving this here for others as a possible work-around.

[2020-08-04 12:19] aIacoella commented on #74
Hi, any news on this issue?

[2020-08-05 10:48] felixcatto commented on #103
With css-loader@3.6.0 all works fine
I use `generateScopedName: '[local]--[hash:base64:5]',` in server babel config
and `localIdentName: '[local]--[hash:base64:5]',` in client (webpack) config

[2020-08-15 00:50] naman03malhotra commented on #99
@glebfeklistov facing the same issue, how did you fix it?

[2020-08-15 15:48] glebfeklistov commented on #99
Hello. Sry i don`t remender hot to fix this issue

[2020-08-21 22:59] matthewwithanm commented on #92
Wow, thanks for the tip @jjuutila!

It seems like this mostly works because the CSS parser is able to handle most SCSS syntax. But those inline comments break it (specifically, for us it was a single quote in a `//` comment, causing a `CssSyntaxError`). To correctly support SCSS, it looks like you need to [configure a preprocessor][1]:

[code]

What a footgun! #104 seems relevant.

[1]: https://gi

[2020-08-27 10:04] felixcatto commented on #103
It turns out, in some cases classNames really don't match. But you can generate them by yourself.
_someFIle.js_
[code]

_server babel config_
[code]

_client webpack config_
[code]

[2020-12-02 17:37] caub opened #112 "Doesn't work with @babel/register, works only with @babel/cli"
Any idea how to get it to work with @babel/register? It only generates empty css files

[2020-12-30 11:23] blopa commented on #106
Were you able to solve this?

[2021-01-03 21:07] suhanw commented on #103
`classNames` don't match for me either, I'm using `css-loader@5.0.1` and `babel-plugin-css-modules-transform@1.6.2`

[2021-01-03 21:10] suhanw commented on #106
@simhox are you getting an error like this?
[code]

Seems like `classNames` haven't been matching since version 2 and newer (https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/issues/103)

[2021-06-18 01:31] yurigodke commented on #91
I create this Pull Request #101 to resolve this problem

[2022-01-12 16:05] #103 closed, assigned to nobody

[2022-03-01 07:23] osadan opened #119 "It is not wroking with aliasing css"
When I have a css / sass alias the processor does not recognize it

[2022-03-07 09:51] osadan commented on #119
https://github.com/michalkvasnicak/babel-plugin-css-modules-transform/pull/120

[2022-11-21 13:40] #45 closed